<MudDialog>
    <TitleContent>
        <MudStack Row="true" Justify="Justify.SpaceBetween" Class="pa-0">
            <div>
                <MudText Typo="Typo.h5">Modify trait</MudText>
                <MudText Typo="Typo.body2" Color="Color.Info">Wear is subtracted from tyre, so higher number = more wear</MudText>
            </div>

            <div class="additional-dialog-controls">
                <MudSwitch @bind-Checked="showSliders" Label="Sliders" Color="Color.Secondary" />
            </div>
        </MudStack>
    </TitleContent>
    <DialogContent>
        <MudForm>
            <MudGrid Spacing="2">
                <MudItem xs="6">
                    <MudStack Justify="Justify.SpaceBetween" Class="py-2">
                        <MudTextField @bind-Value="Model.Name" Label="Name" Class="field-md" />
                        <MudStack Spacing="0">
                            <MudText Typo="Typo.subtitle2">Entrant type</MudText>
                            @if (Model.Id == 0)
                            {
                                <MudChipSet @bind-SelectedChip="entrantChip">
                                    @foreach (var entrant in EntrantEnumHelper.GetEntrantSelection)
                                    {
                                        <MudChip Value="@entrant.Key" Color="Color.Primary">@entrant.Value</MudChip>
                                    }
                                </MudChipSet>
                            }
                            else
                            {
                                <MudText>@Model.Type.ToString()</MudText>
                            }
                        </MudStack>
                    </MudStack>
                </MudItem>
                <MudItem xs="6">
                    <MudTextField @bind-Value="Model.Description"
                                  Label="Description"
                                  Variant="Variant.Outlined"
                                  Lines="5" />
                </MudItem>
                <MudItem xs="12">
                    <MudText Typo="Typo.h6">Modifiers</MudText>
                    <MudDivider />
                </MudItem>
                <MudItem xs="3">
                    <MudNumericField T="int" @bind-Value="Model.QualifyingPace" Label="Pace (qualifying)" />
                    <MudNumericField T="int" @bind-Value="Model.RacePace" Label="Pace (race)" />
                    <MudNumericField T="int" @bind-Value="Model.Attack" Label="Attack" />
                    <MudNumericField T="int" @bind-Value="Model.Defense" Label="Defense" />
                </MudItem>
                <MudItem xs="3">
                    <MudNumericField T="int" @bind-Value="Model.DriverReliability" Label="DriverReliability" />
                    <MudNumericField T="int" @bind-Value="Model.CarReliability" Label="CarReliability" />
                    <MudNumericField T="int" @bind-Value="Model.EngineReliability" Label="EngineReliability" />
                </MudItem>
                <MudItem xs="6">
                    <MudStack>
                        @if (showSliders)
                        {
                            <div class="d-flex flex-row justify-space-between align-items-center">
                                <MudText Typo="Typo.subtitle2">Tyre wear</MudText>
                                <MudText Typo="Typo.caption">[@Model.WearMin - @Model.WearMax]</MudText>
                            </div>
                            
                            <MudRangeSlider @bind-Value="Model.WearMin"
                                            @bind-UpperValue="Model.WearMax"
                                            Size="Size.Medium"
                                            Variant="Variant.Filled"
                                            Range="true"
                                            TickMarks="true"
                                            Color="Color.Tertiary"
                                            Step="1"
                                            Min="-5"
                                            Max="5"
                                            Class="my-1" />

                            <div class="d-flex flex-row justify-space-between align-items-center">
                                <MudText Typo="Typo.subtitle2">RNG per advance</MudText>
                                <MudText Typo="Typo.caption">[@Model.RngMin - @Model.RngMax]</MudText>
                            </div>
                            <MudRangeSlider @bind-Value="Model.RngMin"
                                            @bind-UpperValue="Model.RngMax"
                                            Size="Size.Small"
                                            Variant="Variant.Filled"
                                            Range="true"
                                            TickMarks="true"
                                            Color="Color.Tertiary"
                                            Step="1"
                                            Min="-10"
                                            Max="10"
                                            Class="my-1" />
                        }
                        else
                        {
                            <MudStack Row="true">
                                <MudNumericField T="int" @bind-Value="Model.WearMin" Label="WearMin" />
                                <MudNumericField T="int" @bind-Value="Model.WearMax" Label="WearMax" />
                            </MudStack>

                            <MudStack Row="true">
                                <MudNumericField T="int" @bind-Value="Model.RngMin" Label="RngMin" />
                                <MudNumericField T="int" @bind-Value="Model.RngMax" Label="RngMax" />
                            </MudStack>
                        }

                        <MudSwitchM3 @bind-Checked="Model.ForWetConditions"
                                     ThumbIcon="@Icons.Material.Filled.Done"
                                     ThumbOffIcon="@Icons.Material.Filled.Close"
                                     Label="Only applies during wet conditions"
                                     Color="Color.Tertiary" />
                    </MudStack>
                </MudItem>
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] protected MudDialogInstance? TraitDialog { get; set; }

    [Parameter] public Trait? Trait { get; set; }

    private MudChip? entrantChip;

    private EditTraitModel Model;

    private bool showSliders = true;

    protected override void OnInitialized()
    {
        Model = new EditTraitModel(Trait);
    }

    private void Submit()
    {
        if (Model.Id == 0)
        {
            // Perhaps own warning/validation message
            if (entrantChip == null)
                return;

            Model.Type = (Entrant)entrantChip.Value;
        }

        if (Model.IsDirty)
        {
            var modTrait = Model.Record;
            TraitDialog?.Close(DialogResult.Ok(modTrait));
        }
    }

    private void Cancel() => TraitDialog?.Cancel();
}
