@using SimTECH.Pages.RaceWeek.Components

<MudGrid id="raceweek-landing" Spacing="1">
    <MudItem xs="12">
        <MudPaper MinHeight="60px" Class="pa-2 d-flex flex-row align-center justify-space-between">
            <div class="btn-md"></div>
            <MudText Typo="Typo.h3">@Model.Race.Name</MudText>
            <ScreenshotButton TargetId="raceweek-landing"
                              Colour="Color.Tertiary"
                              IconSize="Size.Small"
                              PostFixIcon="true"
                              Class="btn-md" />
        </MudPaper>
    </MudItem>
    <MudItem xs="2">
        <MudPaper Class="pa-4 mud-height-full">
            <MudText Typo="Typo.h5">Track information</MudText>
            <MudDivider />
            <MudListExtended T="string" Dense="true">
                <MudListItemExtended T="string" SecondaryText="Country">
                    <CountryNamedFlag Code="@Model.Race.Track.Country" Size="ElementSize.Normal" Reverse="true" />
                </MudListItemExtended>
                <MudListItemExtended T="string"
                                     Text="@($"{Model.Race.Track.Length}km")"
                                     SecondaryText="Length" />
                <MudListItemExtended T="string"
                                     Text="@($"{NumberHelper.LapCount(Model.Race.RaceLength, Model.Race.Track.Length)}")"
                                     SecondaryText="Laps" />
                <MudListItemExtended T="double"
                                     Text="@Model.Race.Track.AeroMod.ToString("F2")"
                                     SecondaryText="Aero mod" />
                <MudListItemExtended T="double"
                                     Text="@Model.Race.Track.ChassisMod.ToString("F2")"
                                     SecondaryText="Chassis mod" />
                <MudListItemExtended T="double"
                                     Text="@Model.Race.Track.PowerMod.ToString("F2")"
                                     SecondaryText="Powertrain mod" />
                <MudListItemExtended T="double"
                                     Text="@Model.Race.Track.QualifyingMod.ToString("F2")"
                                     SecondaryText="Qualifying mod" />
                <MudListItemExtended T="double"
                                     Text="@Model.Race.Track.DefenseMod.ToString("F2")"
                                     SecondaryText="Defense mod" />
            </MudListExtended>

            <MudText Typo="Typo.subtitle1">Circuit traits</MudText>
            <MudDivider />
            @if (TrackTraits.Any() == true)
            {
                <MudListExtended T="string" Dense="true">
                    @foreach (var trait in TrackTraits)
                    {
                        <MudListItemExtended T="string" Text="@trait.Name" SecondaryText="@trait.Description" />
                    }
                </MudListExtended>
            }
            else
            {
                <MudText Typo="Typo.subtitle2">No traits for this track.</MudText>
            }
        </MudPaper>
    </MudItem>
    <MudItem xs="7">
        <MudPaper Class="pa-4 mud-height-full">
            <MudText Typo="Typo.h5">Starting grid</MudText>
            <MudDivider />
            <MudTable Items="@Model.RaweCeekDrivers.OrderBy(e => e.AbsoluteGrid)" Dense="true" Class="extra-dense">
                <HeaderContent>
                    <MudTh Class="number-col-lg">Grid</MudTh>
                    <MudTh Class="number-col">TGT</MudTh>
                    <MudTh Class="accent-cell"></MudTh>
                    <MudTh Style="max-width: 220px">Name</MudTh>
                    <MudTh Class="number-col">NO</MudTh>
                    <MudTh Style="max-width: 220px">Team</MudTh>
                    <MudTh Class="number-col">ENG</MudTh>
                    @if (Model.Season.HasRaceClasses)
                    {
                        <MudTh Class="number-col">CLA</MudTh>
                    }
                    <MudTh Class="number-col">SUP</MudTh>
                    <MudTh>Traits</MudTh>
                    <MudTh>Tyre</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd Class="number-col-lg">
                        <PenaltyBadge Penalty="@context.Penalty">
                            @if (context.Status == RaceStatus.Dnq)
                            {
                                <div class="result-cell" style="@context.Status.StatusStyles()">
                                    <ResultLabel Text="@context.Status.ReadableStatus()" />
                                </div>
                            }
                            else
                            {
                                <div class="d-flex flex-row align-items-center gap-1">
                                    <DriverPosition Number="@context.Grid" />
                                    @if (Model.Season.HasRaceClasses)
                                    {
                                        <sup>@context.AbsoluteGrid</sup>
                                    }
                                </div>
                            }
                        </PenaltyBadge>
                    </MudTd>
                    <MudTd>
                        <MudText Typo="Typo.caption">@context.ExpectedPosition</MudText>
                    </MudTd>
                    <MudTd Class="accent-cell">
                        <SmolAccent Colour="@context.Colour" />
                    </MudTd>
                    <MudTd>
                        <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center" Style="max-width: 220px">
                            <MudText Class="overflow-hider">@context.FullName</MudText>
                            @if (context.Grid == 1)
                            {
                                <sup style="font-size: 0.7rem">P</sup>
                            }
                            @if (context.FastestLap)
                            {
                                <sup style="font-size: 0.7rem">F</sup>
                            }
                        </MudStack>
                    </MudTd>
                    <MudTd Class="number-col">
                        <NumberDisplay Colour="@context.Colour" Accent="@context.Accent">@context.Number</NumberDisplay>
                    </MudTd>
                    <MudTd Style="max-width: 220px">
                        <MudText Class="overflow-hider">@context.TeamName</MudText>
                    </MudTd>
                    <MudTd Class="number-col">
                        <NumberDisplay Colour="@context.Engine.Colour" Accent="@context.Engine.Accent" Typo="Typo.button">
                            @context.Engine.Name.ElementAt(0)
                        </NumberDisplay>
                    </MudTd>
                    @if (Model.Season.HasRaceClasses)
                    {
                        <MudTd Class="number-col">
                            <SupplierDisplay Colour="@context.Class?.Colour">
                                @context.Class?.Tag
                            </SupplierDisplay>
                        </MudTd>
                    }
                    <MudTd Class="number-col">
                        <SupplierDisplay Colour="@context.ManufacturerColour" Accent="@context.ManufacturerAccent">
                            @context.ManufacturerName.ElementAt(0)
                        </SupplierDisplay>
                    </MudTd>
                    <MudTd>
                        <div class="d-flex flex-column">
                            @foreach (var trait in context.TraitNames)
                            {
                                <p class="tiny-text-list-item">@trait</p>
                            }
                        </div>
                    </MudTd>
                    <MudTd>
                        <div class="d-flex flex-row justify-center">
                            <MudLink OnClick="@(async () => await HandleTyrePicker(context.ResultId))">
                                <TyreElement Colour="@context.Tyre.Colour">
                                    @context.Tyre.Name.ElementAt(0)
                                </TyreElement>
                            </MudLink>
                        </div>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </MudPaper>
    </MudItem>
    <MudItem xs="3">
        <MudPaper Class="pa-4 mud-height-full">
            <MudText Typo="Typo.h5">Weekend</MudText>
            <MudDivider />

            <MudText Typo="Typo.subtitle1">Weather</MudText>
            <CustomIcon Icon="@Model.Climate.Icon" Colour="@Model.Climate.Colour">
                <MudText Typo="Typo.h5" Color="Color.Default">@Model.Climate.Terminology</MudText>
            </CustomIcon>

            <MudText Typo="Typo.subtitle1">Bob</MudText>
            <MudText Class="my-2">
                Praise be but also be aware
            </MudText>

            <MudText Typo="Typo.subtitle1">Help</MudText>
            <MudText Class="my-2" Typo="Typo.body2" Color="Color.Info">
                <MudIcon Icon="@IconCollection.Target" Size="Size.Small" />
                [TGT]: Target position
            </MudText>

            <MudText Class="my-2" Typo="Typo.body2" Color="Color.Warning">
                Yes, I'm aware traits look ugly. Working on a good solution for this still.
            </MudText>

            <MudText Typo="Typo.subtitle1">Tyre suppliers</MudText>
            <MudTable Items="@TyreSuppliers" Bordered="true" Dense="true">
                <HeaderContent>
                    <MudTh>Name</MudTh>
                    <MudTh>Life Bonus</MudTh>
                    <MudTh>Wear</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd>
                        <SupplierDisplay Colour="@context.Colour" Accent="@context.Accent">@context.Name</SupplierDisplay>
                    </MudTd>
                    <MudTd>
                        <MudText Typo="Typo.caption">@context.Pace</MudText>
                    </MudTd>
                    <MudTd>
                        <MudStack Row="true" Spacing="1" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                            <MudText Typo="Typo.caption">@context.WearMin</MudText>
                            <MudIcon Size="Size.Small" Icon="@IconCollection.ArrowMoveHorizontal" />
                            <MudText Typo="Typo.caption">@context.WearMax</MudText>
                        </MudStack>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    [CascadingParameter] public RaweCeekModel Model { get; set; }

    [Parameter] public IEnumerable<Trait> TrackTraits { get; set; } = Enumerable.Empty<Trait>();
    [Parameter] public List<Manufacturer> TyreSuppliers { get; set; } = new();
    [Parameter] public EventCallback<long> OnOpenTyrePicker { get; set; }

    public async Task HandleTyrePicker(long resultId)
    {
        await OnOpenTyrePicker.InvokeAsync(resultId);
    }
}
