@using MudExtensions
@using SimTECH.Pages.RaceWeek.Components

@inject IRaceWeekService _raceWeekService

<MudLoading Loading="@Loading"
            LoaderType="LoaderType.Circular"
            Text="Gettin' some practice in getting this practice">
    <MudContainer MaxWidth="MaxWidth.Large">
        <div id="practice-table">
            @if (!Loading)
            {
                @if (PracticeDrivers.Count == 0)
                {
                    <div class="empty-page-container">
                        <MudText>No practice data found</MudText>
                    </div>
                }
                else
                {
                    <CommonSession Drivers="@PracticeDrivers"
                                   AmountRuns="@amountRuns"
                                   HighestScore="@highestScore"
                                   LowestScore="@lowestScore"
                                   HasRaceClasses="@hasRaceClasses">
                        <CountryFlag Code="@raceCountry" />
                        <MudText Typo="Typo.h5">@raceName</MudText>

                        <MudSpacer />

                        <MudButtonGroup Variant="Variant.Text" Color="Color.Tertiary">
                            <ScreenshotButton TargetId="practice-table"
                                              Colour="Color.Tertiary"
                                              IconSize="Size.Small"
                                              PostFixIcon="true"
                                              Class="btn-md" />
                            @if (!PracticeSession.IsFinished && advancedRuns != amountRuns)
                            {
                                <MudButton EndIcon="@IconCollection.ChevronsRight"
                                           IconSize="Size.Small"
                                           OnClick="Advance"
                                           Class="btn-md">Advance</MudButton>
                            }
                        </MudButtonGroup>
                    </CommonSession>
                }
            }
        </div>
    </MudContainer>
</MudLoading>
