@using SimTECH.Pages.RaceWeek.Components

<MudContainer MaxWidth="MaxWidth.Large">
    <div id="qualy-table">
        @if (!loading)
        {
            <CommonSession Drivers="@QualyDrivers"
                           AmountRuns="@amountRuns"
                           EntryCutoff="@entryCutoff"
                           ProgressCutoff="@progressCutoff"
                           HighestScore="@highestScore"
                           LowestScore="@lowestScore"
                           HasRaceClasses="@hasRaceClasses">
                <CountryFlag Code="@raceCountry" />
                <MudText Typo="Typo.h5">@raceName</MudText>

                <MudSpacer />

                <MudButtonGroup Color="Color.Tertiary" Variant="Variant.Text">
                    <ScreenshotButton TargetId="qualy-table"
                                      Colour="Color.Tertiary"
                                      IconSize="Size.Small"
                                      PostFixIcon="true"
                                      Class="btn-md" />
                    @if (QualySession.IsFinished == false && advancedRuns != amountRuns)
                    {
                        <MudButton EndIcon="@IconCollection.ChevronsRight"
                                   IconSize="Size.Small"
                                   OnClick="Advance"
                                   Class="btn-md">Advance</MudButton>
                    }
                </MudButtonGroup>
            </CommonSession>
        }
    </div>
</MudContainer>
