@page "/postrace/{RaceId:long}"
@inject BreadcrumbProvider _bread
@inject NavigationManager _nav
@inject RaceService _raceService
@inject SeasonService _seasonService

<PageTitle>Post race</PageTitle>

<MudContainer MaxWidth="MaxWidth.False" Class="mt-4" id="postrace-container">
    @if (!loading)
    {
        <MudGrid Spacing="1">
            <MudItem xs=12>
                <MudPaper Elevation="15" Height="75px" Class="pa-4">
                    <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                        <div style="width: 30%">
                            <MudText Typo="Typo.body2" Color="Color.Warning">This page is quite unfinished</MudText>
                            <MudText Typo="Typo.body2" Color="Color.Error">Wtf so much free space?</MudText>
                        </div>

                        <MudText Typo="Typo.h3">Post race</MudText>

                        <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" Style="width: 30%">
                            <MudButton FullWidth="true" OnClick="GoToStandings">Standings</MudButton>
                            <ScreenshotButton TargetId="postrace-container" FullWidth="true" />
                        </MudButtonGroup>
                    </MudStack>
                </MudPaper>
            </MudItem>
            <MudItem xs="6">
                <MudPaper Class="mud-height-full pa-4">
                    <MudText Typo="Typo.h5">Final standings</MudText>
                    <MudTable T="Result" Items="@Results.OrderBy(e => e.Position)" Dense="true" Class="extra-dense">
                        <HeaderContent>
                            <MudTh></MudTh>
                            <MudTh>Grid</MudTh>
                            <MudTh Class="accent-cell"></MudTh>
                            <MudTh Style="width: 220px">Name</MudTh>
                            <MudTh Class="number-col">NO</MudTh>
                            <MudTh Style="width: 220px">Team</MudTh>
                            <MudTh>Points</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>
                                @if (context.Status == RaceStatus.Racing)
                                {
                                    <DriverPosition Number="@context.Position" />
                                }
                                else
                                {
                                    <MudPaper Class="px-1 py-0" Style="@(ViewHelper.SetBackgroundColour(context.Status.StatusColour()))">
                                        @context.Status
                                    </MudPaper>
                                }
                            </MudTd>
                            <MudTd>
                                <MudText Typo="Typo.button">@context.Grid</MudText>
                            </MudTd>
                            <MudTd Class="accent-cell">
                                <SmolAccent Colour="@(context.SeasonTeam?.Colour ?? Constants.DefaultColour)" />
                            </MudTd>
                            <MudTd Class="overflow-hider">
                                <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center">
                                    <MudText>@context.SeasonDriver.Driver.FullName</MudText>
                                    @if (context.Grid == 1)
                                    {
                                        <sup style="font-size: 0.7rem">P</sup>
                                    }
                                    @if (context.FastestLap)
                                    {
                                        <sup style="font-size: 0.7rem">F</sup>
                                    }
                                </MudStack>
                            </MudTd>
                            <MudTd Class="number-col">
                                <NumberDisplay Colour="@(context.SeasonTeam?.Colour ?? Constants.DefaultColour)" Accent="@(context.SeasonTeam?.Accent ?? Constants.DefaultAccent)">@context.SeasonDriver.Number</NumberDisplay>
                            </MudTd>
                            <MudTd Class="overflow-hider">
                                <MudText Typo="Typo.button">@(context.SeasonTeam?.Name ?? "[Unknown]")</MudText>
                            </MudTd>
                            <MudTd>
                                <MudText Typo="Typo.caption">@(ReadScoredResult(context))</MudText>
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudPaper>
            </MudItem>
            <MudItem xs="6">
                <MudStack Class="mud-height-full">
                        <MudPaper Height="50%" Class="pa-4">
                        <MudText Typo="Typo.h5">Race incidents</MudText>
                        <MudSimpleTable Dense="true" Class="extra-dense">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="number-col">NO</th>
                                    <th>Incident</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var result in Results.Where(e => e.Incident != null))
                                {
                                    <tr>
                                        <td>@result.SeasonDriver.Driver.FullName</td>
                                        <td class="number-col">
                                            <NumberDisplay>@result.SeasonDriver.Number</NumberDisplay>
                                        </td>
                                        <td>
                                            @(result.Incident?.Name)
                                        </td>
                                        <td>
                                            <MudPaper Class="px-1 py-0" Style="@(ViewHelper.SetBackgroundColour(result.Status.StatusColour()))">
                                                @result.Status
                                            </MudPaper>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </MudSimpleTable>
                    </MudPaper>
                    <MudPaper Height="50%" Class="pa-4">
                        <MudText Typo="Typo.h5">Upcoming penalties</MudText>
                        <MudTable T="DriverPenalty" Items="@DriverPenalties" Dense="true" Class="extra-dense">
                            <HeaderContent>
                                <MudTh>Name</MudTh>
                                <MudTh>Reason</MudTh>
                                <MudTh>Grid loss</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd>
                                    <MudText>@context.Name</MudText>
                                </MudTd>
                                <MudTd>
                                    <MudText>@context.Reason</MudText>
                                </MudTd>
                                <MudTd>
                                    <MudText Typo="Typo.caption">@context.Punishment</MudText>
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                    </MudPaper>
                </MudStack>
            </MudItem>
        </MudGrid>
    }
</MudContainer>

@code {
    [Parameter] public long RaceId { get; set; }

    SimTECH.Data.Models.Race Race;
    Season Season;
    List<Result> Results;
    List<GivenPenalty> Penalties;

    Dictionary<int, int> allotments;
    int lowestScoring;

    List<DriverPenalty> DriverPenalties = new();

    bool loading;

    protected override async Task OnInitializedAsync()
    {
        loading = true;

        Race = await _raceService.GetRaceById(RaceId);
        Results = await _raceService.GetResultsOfRace(RaceId);
        Season = await _seasonService.GetSeasonById(Race.SeasonId);
        Penalties = await _raceService.GetUnconsumedPenalties();

        allotments = Season.PointAllotments?.ToDictionary(e => e.Position, e => e.Points) ?? new();
        if (allotments.Any())
            lowestScoring = allotments.Keys.Max();

        _bread.SetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Home", href: ""),
            new BreadcrumbItem("Seasons", href: "seasons"),
            new BreadcrumbItem("Overview", href: $"overview/{Season.Id}"),
            new BreadcrumbItem("Raceweek", href: $"raceweek/{RaceId}"),
            new BreadcrumbItem("Race", href: $"race/{RaceId}"),
            new BreadcrumbItem("Postrace", href: $"postrace/{RaceId}", disabled: true),
        });

        loading = false;
    }

    private int ReadScoredResult(Result result)
    {
        var points = 0;

        if (result.Grid == 1)
            points += Season.PointsPole;

        if (result.FastestLap)
            points += Season.PointsFastestLap;

        if (result.Status != RaceStatus.Racing)
            return points;

        if (allotments.TryGetValue(result.Position, out int allotedPoints))
            points += allotedPoints;

        return points;
    }

    // NOTE: Not a definitive solution probably as it could be done much better
    void BuildDriverPenalties()
    {
        foreach (var penalty in Penalties)
        {
            var driverResult = Results.Find(e => e.SeasonDriverId == penalty.SeasonDriverId);
            if (driverResult != null)
            {
                DriverPenalties.Add(new DriverPenalty
                    {
                        Name = driverResult.SeasonDriver.Driver.FullName,
                        Reason = penalty.Incident.Name,
                        Punishment = penalty.Incident.Punishment,
                        Styles = driverResult.Status.StatusColour(),
                    });
            }
        }
    }

    void GoToStandings() => _nav.NavigateTo($"/overview/{Race.SeasonId}/2");

    internal class DriverPenalty
    {
        public string Name { get; set; } = string.Empty;
        public string Reason { get; set; } = string.Empty;
        public int Punishment { get; set; }
        public string Styles { get; set; } = Constants.DefaultBackground;
    }
}
