@page "/race/{RaceId:long}"
@inject RaceService _raceService
@inject SeasonService _seasonService
@inject NavigationManager _nav
@inject IDialogService _dialogService
@inject ISnackbar _snackbar

<PageTitle>Race</PageTitle>

@if (!loading)
{
    <MudTable Items="@Model.RaceDrivers.OrderBy(e => (int)e.Status).ThenBy(e => e.Position)" Dense="true" id="race-display">
        <ToolBarContent>
            <MudStack Row="true" Spacing="4" AlignItems="AlignItems.Center" Class="mud-width-full">
                <CountryFlag Code="@Model.Country" />
                <MudText Typo="Typo.h6">@Model.Name - ROUND @Model.Round</MudText>
                <MudIcon Icon="@(Model.Weather.GetWeatherIcon())" />

                <MudSpacer />

                <MudChip Color="Color.Dark" DisableRipple="true" Label="true">
                    <MudText Typo="Typo.overline">@(racedLaps) / @(totalLaps)</MudText>
                </MudChip>

                <MudSpacer />

                <MudButtonGroup Color="Color.Primary">
                    <ScreenshotButton TargetId="race-display" />
                    <MudButton StartIcon="@Icons.Material.Outlined.InsertChart" OnClick="ShowGraph">Chart</MudButton>
                    @if (!Model.IsFinished)
                    {
                        @if (calculated >= calculationCount)
                        {
                            <MudButton OnClick="Finish">Finish</MudButton>
                        }
                        else
                        {
                            
                            <MudButton Color="Color.Tertiary" OnClick="Advance">Advance</MudButton>
                        }
                    }
                </MudButtonGroup>
            </MudStack>
        </ToolBarContent>
        <ColGroup>
            <col style="width: 15px" />
            <col style="width: 40px" />
            <col style="width: 5px" />
            <col style="width: 220px" />
            <col style="width: 30px" />
            <col style="width: 220px" />
            <col style="width: 30px" />
            <col style="width: 50px" />
            <col style="width: 50px" />
            <col style="width: 75px" />
            <col style="width: 500px" />
        </ColGroup>
        <HeaderContent>
            <MudTh>#</MudTh>
            <MudTh>Grid</MudTh>
            <MudTh Class="pa-0"></MudTh>
            <MudTh>Name</MudTh>
            <MudTh Class="number-col">No</MudTh>
            <MudTh>Team</MudTh>
            <MudTh Class="number-col">PWR</MudTh>
            <MudTh Class="number-col-lg">TYRE</MudTh>
            <MudTh Class="number-col">Score</MudTh>
            <MudTh>Status</MudTh>
            <MudTh>Progression</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd Style="@(ViewHelper.SetGradientTriangleStyle(context.Colour, context.Accent))">
                <MudText Typo="Typo.caption">@context.Position</MudText>
            </MudTd>
            <MudTd>
                <GridChange Change="@context.GridChange" />
            </MudTd>
            <MudTd Class="pa-0">
                <span class="smol-accent" style="@(ViewHelper.SetBackgroundColour(context.Colour))"></span>
            </MudTd>
            <MudTd Class="overflow-hider">
                <MudStack Row="true" Spacing="1" Class="align-center">
                    <MudText Typo="Typo.body1">@context.FirstName</MudText>
                    <MudText Typo="Typo.button">@context.LastName</MudText>
                    @if (context.HasFastestLap)
                    {
                        <MudIcon Icon="@Icons.Material.Filled.Timer" Size="Size.Small" Style="color:mediumpurple" />
                    }
                    <MudSpacer />
                    <CountryFlag Code="@context.Nationality" Size="FlagSize.Small" />
                </MudStack>
            </MudTd>
            <MudTd Class="number-col" Style="@(ViewHelper.SetFullColourstyle(context.Colour, context.Accent))">
                <MudText Typo="Typo.caption">@context.Number</MudText>
            </MudTd>
            <MudTd Class="overflow-hider">
                <MudText Typo="Typo.button">@context.TeamName</MudText>
            </MudTd>
            <MudTd Class="number-col">
                <MudText Typo="Typo.caption">@context.Power</MudText>
            </MudTd>
            <MudTd Class="number-col-lg">
                <TyreElement Colour="@context.CurrentTyre.Colour">@context.TyreLife</TyreElement>
            </MudTd>
            <MudTd Class="number-col">
                <MudText Typo="Typo.caption">@context.LapSum</MudText>
            </MudTd>
            <MudTd>
                @if (context.Status == RaceStatus.Racing)
                {
                    <MudText>+@(context.TimedGap((highestScore - context.LapSum), Model.GapMarge))</MudText>
                }
                else
                {
                    <MudText Color="Color.Error">@context.Incident</MudText>
                }
            </MudTd>
            <MudTd>
                <div class="relative" style="height:8px;width:100%">
                    @foreach (var lapEvent in context.LapScores)
                    {
                        @foreach (var raceEvent in lapEvent.ListOfDubiousEvents().Select((element, index) => new { index, element }))
                        {
                            <SignalIcon LapPercentage="@(CalculateLapPercentage(lapEvent.Order))"
                                        Signal="@raceEvent.element.ToString()"
                                        Index="@raceEvent.index" />
                        }
                    }
                </div>
                <BobProgressLinear Value="@(NumberHelper.CalcLapCount(context.LastLap * 10, Model.TrackLength))"
                                   Min="0"
                                   Max="@totalLaps"
                                   Size="Size.Medium"
                                   Colour="@context.CurrentTyre.Colour"
                                   Class="my-2" />
            </MudTd>
        </RowTemplate>
        <FooterContent>
            <MudTd colspan="20">
                <MudStack Row="true">
                    <MudText>Event legend</MudText>
                    <MudChip Icon="@IconCollection.HelmetOff" IconColor="Color.Error" Size="Size.Small" DisableRipple="true" Label="true">
                        DNF Driver
                    </MudChip>
                    <MudChip Icon="@IconCollection.CarCrash" IconColor="Color.Error" Size="Size.Small" DisableRipple="true" Label="true">
                        DNF Car
                    </MudChip>
                    <MudChip Icon="@IconCollection.EngineOff" IconColor="Color.Error" Size="Size.Small" DisableRipple="true" Label="true">
                        DNF Engine
                    </MudChip>
                    <MudChip Icon="@Icons.Material.Filled.ErrorOutline" IconColor="Color.Warning" Size="Size.Small" DisableRipple="true" Label="true">
                        Mistake
                    </MudChip>
                    <MudChip Icon="@Icons.Material.Filled.LocalGasStation" IconColor="Color.Success" Size="Size.Small" DisableRipple="true" Label="true">
                        Pitstop
                    </MudChip>
                    <MudChip Icon="@Icons.Material.Filled.SwapVert" IconColor="Color.Info" Size="Size.Small" DisableRipple="true" Label="true">
                        Driver Swap
                    </MudChip>
                    <MudChip Icon="@IconCollection.Skull" IconColor="Color.Inherit" Size="Size.Small" DisableRipple="true" Label="true" Style="color: white">
                        Fatality
                    </MudChip>
                    <MudChip Icon="@Icons.Material.Filled.QuestionMark" IconColor="Color.Warning" Size="Size.Small" DisableRipple="true" Label="true">
                        Undetermined
                    </MudChip>
                </MudStack>
            </MudTd>
        </FooterContent>
    </MudTable>
}

@code {
    [Parameter] public long RaceId { get; set; }

    public RaceModel Model { get; set; }

    Dictionary<int, int> allotments;

    bool loading = true;

    int fatalityOdds;
    int disqualifyChance;
    int participatingDrivers;
    int fastestLap;
    int highestScore;
    int racedLaps;
    int totalLaps;
    int minLapRng;
    int maxLapRng;

    int calculated;
    int calculationCount;
    int calculationsPerAdvance = 5;

    protected override async Task OnInitializedAsync()
    {
        Model = await _raceService.RetrieveRaceModel(RaceId);
        allotments = Model.Season.PointAllotments?.ToDictionary(e => e.Position, e => e.Points) ?? new();
        minLapRng = Model.Season.RngMinimum;
        maxLapRng = Model.Season.RngMaximum;

        fatalityOdds = Model.FatalityOdds;
        disqualifyChance = Model.DisqualifyOdds;
        participatingDrivers = Model.RaceDrivers.Count;
        calculationCount = Model.RaceLength / 10;

        racedLaps = NumberHelper.CalcLapCount(calculated * 10, Model.TrackLength);
        totalLaps = NumberHelper.CalcLapCount(Model.RaceLength, Model.TrackLength);

        if (Model.IsFinished)
        {
            highestScore = Model.RaceDrivers.Max(e => e.LapSum);
            fastestLap = Model.RaceDrivers.SelectMany(e => e.LapScores).Max(e => e.Score);
        }

        loading = false;
    }

    int CalculateLapPercentage(int lap)
    {
        var currentLap = NumberHelper.CalcLapCount(lap * 10, Model.TrackLength);
        return (currentLap * totalLaps) / 100;
    }

    async Task ShowGraph()
    {
        var parameters = new DialogParameters { ["Drivers"] = Model.RaceDrivers };

        _ = await _dialogService.ShowAsync<GapChartDialog>("Gapper chart", parameters, Constants.DefaultChartDialogSettings);
    }

    void Advance()
    {
        // Use this variable to persist the lap scores which were generated in this advance
        var lapScoresToPersist = new List<LapScore>();

        // Every i in this instance is relative to 10km of racing
        for (int i = 0; i < calculationsPerAdvance; i++)
        {
            ++calculated;
            long? newFastestLapScorer = null;

            // Iterate through all still running drivers
            foreach (var driver in Model.RaceDrivers.Where(e => e.Status == RaceStatus.Racing))
            {
                var lapScore = new LapScore { ResultId = driver.ResultId, Order = calculated };

                // Determine if either driver, car or engine has failed
                CheckReliability(driver, lapScore);

                // Calculate the score for drivers which are still racing
                if (driver.Status == RaceStatus.Racing)
                {
                    var minRng = (minLapRng + driver.RngMinMod);
                    var maxRng = (maxLapRng + driver.RngMaxMod);

                    int lapValue = NumberHelper.RandomInt(minRng, maxRng);

                    // Adds the qualifying bonus in the first lap, should be thought about once more though in terms of what we do with this
                    if (calculated == 0)
                        lapValue += Model.QualifyingBonus(driver.Grid);

                    // Check if driver made a mistake, if so then it's going to cost him
                    for (int j = 0; j < Model.MistakeRolls; j++)
                    {
                        if (DidReliabilityFail(driver.DriverReliability))
                        {
                            lapValue += NumberHelper.RandomInt(Model.MistakeMinCost, Model.MistakeMaxCost);
                            lapScore.RacerEvents |= RacerEvent.Mistake;
                            break;
                        }
                    }

                    // Strategy
                    lapValue += HandleStrategy(driver, lapScore);

                    // Adds the overall power of the driver
                    lapValue += driver.Power;

                    if (lapValue > fastestLap)
                    {
                        fastestLap = lapValue;
                        newFastestLapScorer = driver.ResultId;
                    }

                    // Finally add the score to the lap results
                    lapScore.Score = lapValue;

                    driver.LapScores.Add(lapScore);
                    lapScoresToPersist.Add(lapScore);
                }
            }

            // Determine new positions (keep team role in mind here!)
            PostProcessAdvance(newFastestLapScorer);

            // Last brace before going to the next advance
            if (calculated >= calculationCount)
                break;
        }

        racedLaps = NumberHelper.CalcLapCount(calculated * 10, Model.TrackLength);

        StateHasChanged();

        // Persist the new stint results, yes after doing all whats needed to show them
        //PersistLapScores(lapScoresToPersist);
    }

    void CheckReliability(RaceDriver driver, LapScore lapScore)
    {
        if (DidReliabilityFail(driver.DriverReliability))
        {
            lapScore.RacerEvents = RacerEvent.CarDnf;
            driver.Incident = EnumHelper.GetDriverIncidents.TakeRandomItem();
            driver.Status = RaceStatus.Dnf;
        }
        else if (DidReliabilityFail(driver.CarReliability))
        {
            lapScore.RacerEvents = RacerEvent.DriverDnf;
            driver.Incident = EnumHelper.GetCarIncidents.TakeRandomItem();
            driver.Status = RaceStatus.Dnf;
        }
        else if (DidReliabilityFail(driver.EngineReliability))
        {
            lapScore.RacerEvents = RacerEvent.EngineDnf;
            driver.Incident = Incident.Engine;
            driver.Status = RaceStatus.Dnf;
        }
        else { return; }

        // If enabled, then we're also going to check if anyone experienced a fatal crash
        if (Model.LeagueOptions.HasFlag(LeagueOptions.EnableFatality) && (NumberHelper.RandomInt(fatalityOdds) == 0))
        {
            driver.Status = RaceStatus.Fatal;
            driver.Incident = Incident.Death;
            lapScore.RacerEvents |= RacerEvent.Death;
            return;
        }
    }

    bool DidReliabilityFail(int reliability) => NumberHelper.RandomInt(1000) > reliability;

    int HandleStrategy(RaceDriver driver, LapScore lapScore)
    {
        var tyreMaxWear = driver.CurrentTyre.WearMax + driver.WearMaxMod;
        var tyreMinWear = driver.CurrentTyre.WearMin + driver.WearMinMod;

        // Ensures maximum wear is always at least one less than the minimum wear
        if (tyreMinWear <= tyreMaxWear)
        {
            tyreMaxWear = tyreMinWear - 1;
            _snackbar.Add("A situation occurred where the maximum wear was higher than the minimum wear, please reconsider some set tyre wear values!");
        }

        // Maximum wear is more than the tyre can handle, it's time for a pitstop!
        if (tyreMaxWear > driver.TyreLife)
        {
            var nextOrder = driver.CurrentTyreOrder + 1;
            var nextTyre = driver.Strategy.StrategyTyres.FirstOrDefault(e => e.Order == nextOrder);

            // If there is another tyre left in the strategy then we're installing it
            if (nextTyre != null)
            {
                driver.CurrentTyre = nextTyre.Tyre;
                driver.CurrentTyreOrder = nextOrder;
                driver.TyreLife = nextTyre.Tyre.Pace;

                lapScore.RacerEvents |= RacerEvent.Pitstop;
            }
        }

        int tyreLifeBeforeWear = driver.TyreLife;

        // Add wear to the tyre
        driver.TyreLife += NumberHelper.RandomInt(tyreMaxWear, tyreMinWear);

        return tyreLifeBeforeWear;
    }

    void PostProcessAdvance(long? newFastestLapHolder)
    {
        var racingDrivers = Model.RaceDrivers.OrderBy(e => (int)e.Status).ThenByDescending(e => e.LapSum).ToList();

        var position = 0;
        highestScore = racingDrivers.Max(e => e.LapSum);

        // Only need to use the previous driver if we knew how to swap positions
        // var previousDriver = racingDrivers.First();

        foreach (var driver in racingDrivers)
        {
            driver.Position = ++position;

            if (newFastestLapHolder != null)
            {
                driver.HasFastestLap = false;
                if (driver.ResultId == newFastestLapHolder)
                    driver.HasFastestLap = true;
            }

            // Current iteration doesn't allow to swap drivers easily like this, how do we solve this?
            //if (driver.Role == TeamRole.Main)
            //{
            //    if (previousDriver.SeasonTeamId == driver.SeasonDriverId && previousDriver.Role == TeamRole.Support)
            //    {

            //    }
            //}
        }
    }

    static int GetQualifyingBonus(int grid, int driverCount, int bonus) => (driverCount * bonus) - ((grid - 1) * bonus);

    async Task PersistLapScores(List<LapScore> lapScores) => await _raceService.PersistLapScores(lapScores);

    void PreProcessFinish()
    {
        bool anyoneDisqualified = false;

        foreach (var driver in Model.RaceDrivers.Where(e => e.Status == RaceStatus.Racing))
        {
            if (NumberHelper.RandomInt(disqualifyChance) == 0)
            {
                driver.Incident = EnumHelper.GetDisqualifications.TakeRandomItem();
                driver.Status = RaceStatus.Dsq;

                anyoneDisqualified = true;
            }
        }

        if (anyoneDisqualified)
            PostProcessAdvance(null);
    }

    async Task Finish()
    {
        PreProcessFinish();

        var finishedRace = Model.ToFinishedRace();
        var finishedResults = Model.RaceDrivers.Select(e => e.ToResult(RaceId)).ToList();
        var scoredPoints = Model.RaceDrivers
            .Select(e => e.ToScoredPoints(allotments, Model.Season.PointsPole, Model.Season.PointsFastestLap))
            .ToList();

        // Should be removed when it is done per advance
        var allLapScores = Model.RaceDrivers.SelectMany(e => e.LapScores).Where(e => e.Id == 0).ToList();
        await PersistLapScores(allLapScores);

        // Todo: check if this doesnt mess with the lapscores if those are persisted per advance
        await _raceService.FinishRace(finishedRace, finishedResults, scoredPoints);

        if (Model.LeagueOptions.HasFlag(LeagueOptions.EnablePenalty))
        {
            var nextRound = Model.Round + 1;
            await _seasonService.CheckPenalties(Model.Season.Id, finishedResults, nextRound);
        }

        _nav.NavigateTo($"/overview/{Model.Season.Id}/2"); // 2 = standingspanel
    }
}
