@using SimTECH.ViewModels

<div class="dialog-container">
    <div class="dialog-header">
        @Test.Title
    </div>
    <div class="dialog-content">
        @Test.Content
        <br/>
        <p>Consider the following things:</p>
        <ul>
            @foreach (var thing in Test.Things)
            {
                <li>@thing (@thing.Length)</li>
            }
        </ul>
        <br />
        <div>
            <input @bind="funni" type="text" placeholder="Enter something funny to add" />
        </div>
        <br/>
        <select @onchange="ThangSelected">
            <option value="-1" disabled selected>PICK SOMETHING PLEASE</option>
            @for (var i = 0; i < thangs.Length; i++)
            {
                <option value="@i">@thangs[i]</option>
            }
        </select>
    </div>
    <div class="dialog-footer">
        <div class="dialog-buttons">
            <button class="btn" @onclick="OnCancel">Cancel</button>
            <button class="btn" @onclick="OnConfirm">Confirm</button>
        </div>
    </div>
</div>

@code {
    [Parameter] public TestingModel Test { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }

    private string[] thangs = { "ya", "thang", "kanye", "do ya thang", "am also thing", "thingy is me", "je suis thing" };

    private string funni = string.Empty;
    private string selectedThang = string.Empty;

    void ThangSelected(ChangeEventArgs e)
    {
        if (int.TryParse((string)e.Value, out var index) && index >= 0)
        {
            Test.Thang = thangs[index];
        }
    }
}