<MudDialog>
    <DialogContent>
        <MudPaper MinHeight="800px" MinWidth="1000px">
            <MudStack Row="true" AlignItems="AlignItems.Center">
                <MudIcon Icon="@Icons.Material.Filled.SsidChart" Color="Color.Secondary" />
                <MudText Typo="Typo.h5">Aspect development progression</MudText>
                <MudSpacer />
                <MudButtonGroup Variant="Variant.Text" Color="Color.Secondary">
                    <ScreenshotButton TargetId="aspect-season-development-container" IsIconButton="true" />
                    <MudIconButton Icon="@Icons.Material.Filled.Close" OnClick="Close" />
                </MudButtonGroup>
            </MudStack>
            <div id="aspect-season-development-container">
                @if (DataSets.Count > 0)
                {
                    <ApexCharts.ApexChart TItem="DataPoint"
                                          Title="@($"{Aspect.GetReadableAspect()} development progression")"
                                          Options="@options"
                                          Height="800">
                        @foreach (var result in DataSets)
                        {
                            <ApexCharts.ApexPointSeries TItem="DataPoint"
                                                        Items="@result.DataPoints"
                                                        Name="@result.Label"
                                                        SeriesType="ApexCharts.SeriesType.Line"
                                                        XValue="@(e => e.XData)"
                                                        YValue="@(e => e.YData)"
                                                        OrderBy="e => e.X"
                                                        Stroke="@result.Stroke" />
                        }
                    </ApexCharts.ApexChart>
                }
            </div>
        </MudPaper>
    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] protected MudDialogInstance? ChartDialog { get; set; }

    [Parameter]
    public List<ChartData> DataSets { get; set; } = new();

    [Parameter]
    public Aspect Aspect { get; set; }

    private ApexCharts.ApexChartOptions<DataPoint> options;

    protected override void OnInitialized()
    {
        options = Globals.CreateDefaultChartOptions;
    }

    private void Close() => ChartDialog?.Close();
}
