@inject StrategyService StrategyService

<MudDialog>
    <TitleContent>
        <MudText>
            Add new strategy
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudGrid Spacing="2">
            <MudItem xs="6">
                <MudPaper>
                    <MudTable T="StrategyTyre" Items="@strategy.StrategyTyres" OnRowClick="RemoveTyreFromStrategy" Hover="true">
                        <HeaderContent>
                            <MudTh>NumberStint</MudTh>
                            <MudTh>Order</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="NumberStint">@context.NumberStint</MudTd>
                            <MudTd DataLabel="Order">@context.Order</MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudPaper>
            </MudItem>
            <MudItem xs="6">
                <MudPaper>
                    <MudTable T="Tyre" Items="@Tyres" OnRowClick="AppendTyreToStrategy" Hover="true">
                        <HeaderContent>
                            <MudTh>Tyre</MudTh>
                            <MudTh>Length</MudTh>
                            <MudTh>Pace</MudTh>
                            <MudTh>Wear</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="Tyre"><span class="tyre">@context.Name.ElementAt(0)</span></MudTd>
                            <MudTd DataLabel="Length">@context.Length</MudTd>
                            <MudTd DataLabel="Pace">@context.Pace</MudTd>
                            <MudTd DataLabel="Wear">@context.WearMax ↔ @context.WearMin</MudTd>
                        </RowTemplate>
                    </MudTable>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    protected MudDialogInstance? StrategyDialog { get; set; }

    [Parameter]
    public Strategy strategy { get; set; } = new();

    [Parameter]
    public List<Tyre> Tyres { get; set; } = new();

    private int lastStintNumber = 0;

    protected override void OnInitialized()
    {
        if (strategy.StrategyTyres == null)
            strategy.StrategyTyres = new List<StrategyTyre>();

        if (strategy.StrategyTyres.Count > 0)
        {
            lastStintNumber = strategy.StrategyTyres.Max(e => e.NumberStint);
        }
    }

    private void AppendTyreToStrategy(TableRowClickEventArgs<Tyre> rowClickEvent)
    {
        Tyre tyre = rowClickEvent.Item;

        lastStintNumber += tyre.Length;

        var appendedStrategyTyre = new StrategyTyre
        {
            NumberStint = lastStintNumber,
            TyreId = tyre.Id,
            Tyre = tyre
        };

        strategy.StrategyTyres.Add(appendedStrategyTyre);
    }

    private void RemoveTyreFromStrategy(TableRowClickEventArgs<StrategyTyre> rowClickEvent)
    {
        throw new NotImplementedException();
    }

    private async Task Submit()
    {
        strategy.StintLength = strategy.StrategyTyres.Sum(e => e.Tyre.Length);
        // TODO: Function call just adds it here, but we want to actually store it!
        await StrategyService.CreateStrategy(strategy);

        StrategyDialog?.Close(DialogResult.Ok(strategy));
    }

    private void Cancel() => StrategyDialog?.Cancel();
}
