@page "/traits"
@layout SetupLayout

@inject TraitService TraitService
@inject IDialogService DialogService

<PageTitle>Traits</PageTitle>

<MudContainer>
    <h2>Traits</h2>
    <MudPaper Class="d-flex align-center pa-2 mx-2 my-2">
        <MudButton Variant="Variant.Text" Color="Color.Success" OnClick="@((e) => AddTrait())">New</MudButton>
    </MudPaper>
    <MudDataGrid T="Trait" Items="@TraitNames" EditMode="DataGridEditMode.Cell" CommittedItemChanges="ModifyTrait" Bordered="true" Dense="true" EditTrigger="DataGridEditTrigger.Manual">
        <Columns>
            <Column T="Trait" Field="Name" />
            <Column T="Trait" Field="Type" />
            <Column T="Trait" Field="ForWetConditions" />
            <Column T="Trait" CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudButtonGroup>
                        <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" OnClick="@context.Actions.StartEditingItem" />
                    </MudButtonGroup>
                </CellTemplate>
            </Column>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="Trait" />
        </PagerContent>
    </MudDataGrid>
</MudContainer>

@code {
    private List<Trait> TraitNames = new();

    protected override void OnInitialized()
    {
        TraitNames = TraitService.GetTestNames();
    }

    void ModifyTrait(Trait item)
    {
        // TODO: Store edited values
    }

    async Task AddTrait()
    {
        var dialog = await DialogService.ShowAsync<TraitCreate>("Create a new trait");
        var result = await dialog.Result;

        if (!result.Canceled && result.Data != null && result.Data is Trait newTrait)
        {
            TraitNames.Add(newTrait);
        }
    }
}
