@inject IDialogService _dialog

<MudPaper Elevation="15">
    <MudPaper MinHeight="60px">
        <MudStack Row="true" AlignItems="AlignItems.Center" Class="pa-4">
            <MudText Typo="Typo.h4">WDC results @(Season.Year)</MudText>
                <MudSpacer />
                <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                    <MudIconButton Icon="@Icons.Material.Outlined.InsertChart" OnClick="ShowWdcResultGraph" />
                    <ScreenshotButton TargetId="wdc-season-results" />
                </MudButtonGroup>
            </MudStack>
        </MudPaper>
        <MudTable Items="@StandingDrivers" Dense="true" Class="extra-dense" id="wdc-season-results">
            <HeaderContent>
                <MudTh Class="number-col">#</MudTh>
                <MudTh Class="accent-cell"></MudTh>
                <MudTh Style="width: 225px">Driver</MudTh>
                <MudTh Class="number-col">No.</MudTh>
                <MudTh>Team</MudTh>
                <MudTh>PTS</MudTh>
                @foreach (var round in CountryRounds.OrderBy(e => e.Key))
                {
                    <MudTh>
                        <CountryFlag Code="@round.Value" Size="FlagSize.Small" />
                    </MudTh>
                }
            <MudTh class="number-col">AVG</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd Class="number-col">
                <DriverPosition Number="@context.Position" Colour="@context.Colour" Accent="@context.Accent" />
            </MudTd>
            <MudTd Class="accent-cell">
                <span class="smol-accent" style="@(ViewHelper.SetBackgroundColour(context.Colour))"></span>
            </MudTd>
            <MudTd Style="width: 225px">
                <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center" Style="max-width: 225px">
                    <MudText Class="overflow-hider">@context.Name</MudText>
                    <MudSpacer />
                    <CountryFlag Code="@context.Nationality" Size="FlagSize.Small" />
                </MudStack>
            </MudTd>
            <MudTd Class="number-col-lg">
                <NumberDisplay Colour="@context.Colour" Accent="@context.Accent">@context.Number</NumberDisplay>
            </MudTd>
            <MudTd>
                <MudText>@context.Team</MudText>
            </MudTd>
            <MudTd>
                <MudText Typo="Typo.caption">@context.Points</MudText>
            </MudTd>
            @foreach (var round in CountryRounds.OrderBy(e => e.Key))
            {
                <MudTdResult Result="@(context.ResultCells.Find(e => e.Round == round.Key))" LowestScoringPosition="@lowestScoringPosition" />
            }
            <MudTd>
                <MudText Typo="Typo.caption">@context.Average.ToString("F1")</MudText>
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudPaper>

@code {
    [CascadingParameter] public Season Season { get; set; }
    [Parameter] public Dictionary<int, Country> CountryRounds { get; set; }
    [Parameter] public List<StandingDriverModel> StandingDrivers { get; set; }

    int lowestScoringPosition = 10;

    protected override void OnInitialized()
    {
        if (Season?.PointAllotments?.Any() == true)
            lowestScoringPosition = Season.PointAllotments.Max(e => e.Position);
    }

    async Task ShowWdcResultGraph()
    {
        var parameters = new DialogParameters { ["Drivers"] = StandingDrivers, ["Season"] = Season };
        _ = await _dialog.ShowAsync<WdcResultChart>("WDC results chart", parameters);
    }
}
