@inject SeasonEntrantService EntrantService
@inject RaceService RaceService
@inject IDialogService _dialog

@if (!loading)
{
    <MudTabs Outlined="true" Centered="true">
        <MudTabPanel Text="Standings">
            <MudGrid Spacing="2" id="standings-numerical-overview">
                <MudItem xs="12">
                    <MudPaper Height="75px" Class="pa-4">
                        <MudStack Row="true" Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                            <span></span>
                            <MudText Typo="Typo.h3">Season standings @(Season.Year)</MudText>
                            <ScreenshotButton TargetId="standings-numerical-overview" />
                        </MudStack>
                    </MudPaper>
                </MudItem>
                <MudItem xs="6">
                    <MudPaper Elevation="15" Class="pa-4 mud-height-full">
                        <MudPaper MinHeight="60px">
                            <MudText Typo="Typo.h5">Drivers</MudText>
                        </MudPaper>
                        <MudTable Items="@DriverResultsModel" Dense="true">
                            <HeaderContent>
                                <MudTh Class="number-col">#</MudTh>
                                <MudTh Class="accent-cell"></MudTh>
                                <MudTh>Name</MudTh>
                                <MudTh Class="number-col">No.</MudTh>
                                <MudTh>
                                    <MudTableSortLabel SortBy="new Func<StandingDriverModel, object>(e => e.Points)">PTS</MudTableSortLabel>
                                </MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd Class="number-col">
                                    <DriverPosition Number="@context.Position" Colour="@context.Colour" Accent="@context.Accent" />
                                </MudTd>
                                <MudTd Class="accent-cell">
                                    <span class="smol-accent" style="@(ViewHelper.SetBackgroundColour(context.Colour))"></span>
                                </MudTd>
                                <MudTd>
                                    <MudStack Row="true">
                                        <MudText>@context.Name</MudText>
                                        <MudSpacer></MudSpacer>
                                        <CountryFlag Code="@context.Nationality" Size="FlagSize.Small" />
                                    </MudStack>
                                </MudTd>
                                <MudTd Class="number-col" Style="@(ViewHelper.SetFullColourstyle(context.Colour, context.Accent))">
                                    <MudText Typo="Typo.caption">@context.Number</MudText>
                                </MudTd>
                                <MudTd>
                                    <MudText Typo="Typo.caption">@context.Points</MudText>
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                    </MudPaper>
                </MudItem>
                <MudItem xs="6">
                    <MudPaper Elevation="15" Class="pa-4 mud-height-full">
                        <MudPaper MinHeight="60px">
                            <MudText Typo="Typo.h5">Constructors</MudText>
                        </MudPaper>
                        <MudTable Items="@TeamResultsModel" Dense="true">
                            <HeaderContent>
                                <MudTh Class="number-col">#</MudTh>
                                <MudTh Class="accent-cell"></MudTh>
                                <MudTh>Principal</MudTh>
                                <MudTh>Name</MudTh>
                                <MudTh>PTS</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="#" Class="number-col">
                                    <DriverPosition Number="@context.Position" Colour="@context.Colour" Accent="@context.Accent" />
                                </MudTd>
                                <MudTd Class="accent-cell">
                                    <span class="smol-accent" style="@(ViewHelper.SetBackgroundColour(context.Colour))"></span>
                                </MudTd>
                                <MudTd>
                                    <MudText>@context.Principal</MudText>
                                </MudTd>
                                <MudTd>
                                    <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center">
                                        <MudText Typo="Typo.body1">@context.Name</MudText>
                                        <MudSpacer />
                                        <CountryFlag Code="@context.Nationality" Size="FlagSize.Small" />
                                    </MudStack>
                                </MudTd>
                                <MudTd>
                                    <MudText Typo="Typo.caption">@context.Points</MudText>
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudTabPanel>
        <MudTabPanel Text="WDC results">
            <MudPaper Elevation="15">
                <MudPaper MinHeight="60px">
                    <MudStack Row="true" AlignItems="AlignItems.Center" Class="pa-4">
                        <MudText Color=Color.Warning>FL aren't shown yet</MudText>
                        <MudSpacer />
                        <MudText Typo="Typo.h4">WDC results @(Season.Year)</MudText>
                        <MudSpacer />
                        <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                            <MudIconButton Icon="@Icons.Material.Outlined.InsertChart" OnClick="ShowWdcResultGraph" />
                            <ScreenshotButton TargetId="wdc-season-results" />
                        </MudButtonGroup>
                    </MudStack>
                </MudPaper>
                <MudTable Items="@DriverResultsModel" Dense="true" Class="extra-dense" id="wdc-season-results">
                    <HeaderContent>
                        <MudTh Class="number-col">#</MudTh>
                        <MudTh Class="accent-cell"></MudTh>
                        <MudTh Style="max-width: 225px">Driver</MudTh>
                        <MudTh Class="number-col">No.</MudTh>
                        <MudTh>Team</MudTh>
                        <MudTh>PTS</MudTh>
                        @foreach (var race in Races.OrderBy(e => e.Round))
                        {
                            <MudTh>
                                <CountryFlag Code="@race.Track.Country" Size="FlagSize.Small" />
                            </MudTh>
                        }
                        <MudTh class="number-col">AVG</MudTh>
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd Class="number-col">
                            <DriverPosition Number="@context.Position" Colour="@context.Colour" Accent="@context.Accent" />
                        </MudTd>
                        <MudTd Class="accent-cell">
                            <span class="smol-accent" style="@(ViewHelper.SetBackgroundColour(context.Colour))"></span>
                        </MudTd>
                        <MudTd Style="max-width: 225px">
                            <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center" Style="max-width: 225px">
                                <MudText Class="overflow-hider">@context.Name</MudText>
                                <MudSpacer />
                                <CountryFlag Code="@context.Nationality" Size="FlagSize.Small" />
                            </MudStack>
                        </MudTd>
                        <MudTd Class="number-col-lg" Style="@(ViewHelper.SetFullColourstyle(context.Colour, context.Accent))">
                            <MudText Typo="Typo.caption">@context.Number</MudText>
                        </MudTd>
                        <MudTd>
                            <MudText>@context.Team</MudText>
                        </MudTd>
                        <MudTd>
                            <MudText Typo="Typo.caption">@context.Points</MudText>
                        </MudTd>
                        @foreach (var round in Races.OrderBy(e => e.Round))
                        {
                            var result = context.ResultCells.Find(e => e.Round == round.Round);
                            if (result == null)
                            {
                                <MudTd Class="result-cell">-</MudTd>
                            }
                            else
                            {
                                <MudTdResult Result="@result" LowestScoringPosition="@lowestScoringPosition" />
                            }
                        }
                        <MudTd>
                            <MudText Typo="Typo.caption">@context.Average.ToString("F1")</MudText>
                        </MudTd>
                    </RowTemplate>
                </MudTable>
            </MudPaper>
        </MudTabPanel>
        <MudTabPanel Text="WCC results">
            <MudPaper MinHeight="60px">
                <MudStack Row="true" AlignItems="AlignItems.Center" Class="pa-4">
                    <MudText Typo="Typo.h4">WCC results @(Season.Year)</MudText>
                    <MudSpacer />
                    <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
                        <MudIconButton Icon="@Icons.Material.Outlined.InsertChart" OnClick="ShowWccResultGraph" />
                        <ScreenshotButton TargetId="wcc-season-results" />
                    </MudButtonGroup>
                </MudStack>
            </MudPaper>
            <MudTable Items="@TeamResultsModel" Dense="true" id="wcc-season-results">
                <HeaderContent>
                    <MudTh Class="number-col">#</MudTh>
                    <MudTh Class="accent-cell"></MudTh>
                    <MudTh>Team</MudTh>
                    <MudTh>Principal</MudTh>
                    <MudTh>PTS</MudTh>
                    @foreach (var race in Races.OrderBy(e => e.Round))
                    {
                        <MudTh Class="number-col-lg">
                            <CountryFlag Code="@race.Track.Country" Size="FlagSize.Small" />
                        </MudTh>
                    }
                    <MudTh>AVG</MudTh>
                </HeaderContent>
                <RowTemplate>
                    <MudTd Class="number-col">
                        <DriverPosition Number="@context.Position" Colour="@context.Colour" Accent="@context.Accent" />
                    </MudTd>
                    <MudTd Class="accent-cell">
                        <span class="smol-accent" style="@(ViewHelper.SetBackgroundColour(context.Colour))"></span>
                    </MudTd>
                    <MudTd Style="@(ViewHelper.SetBorderRightStyle(context.Colour))">
                        <MudStack Row="true" Spacing="1" AlignItems="AlignItems.Center">
                            <MudText Typo="Typo.body1" Class="overflow-hider">@context.Name</MudText>
                            <MudSpacer />
                            <CountryFlag Code="@context.Nationality" Size="FlagSize.Small" />
                        </MudStack>
                    </MudTd>
                    <MudTd>
                        <MudText Typo="Typo.body1">@context.Principal</MudText>
                    </MudTd>
                    <MudTd>
                        <MudText Typo="Typo.caption">@context.Points</MudText>
                    </MudTd>
                    @foreach (var round in Races.OrderBy(e => e.Round))
                    {
                        var teamResults = context.ResultCells.Where(e => e.Round == round.Round).ToList();

                        <MudTd Class="result-cell">
                            @if (teamResults.Any())
                            {
                                @foreach (var result in teamResults)
                                {
                                    <div class="result-cell" style="@(result.GetResultStyle(lowestScoringPosition))">
                                        <MudText Typo="Typo.caption">@result.GetResultText()</MudText>
                                    </div>
                                }
                            }
                            else
                            {
                                <MudText>-</MudText>
                            }
                        </MudTd>
                    }
                    <MudTd>
                        <MudText Typo="Typo.caption">@context.Average.ToString("F1")</MudText>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </MudTabPanel>
    </MudTabs>
}

@code {
    [CascadingParameter] public Season Season { get; set; }

    List<SeasonDriver> SeasonDrivers { get; set; }
    List<SeasonTeam> SeasonTeams { get; set; }
    List<Race> Races { get; set; }
    List<StandingDriverModel> DriverResultsModel { get; set; }
    List<StandingTeamModel> TeamResultsModel { get; set; }

    Dictionary<long, long> fastestResultForRaces = new();

    int lowestScoringPosition = 3;
    bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        Races = await RaceService.GetRacesBySeason(Season.Id);
        SeasonDrivers = await EntrantService.GetSeasonDriversWithResults(Season.Id);
        SeasonTeams = await EntrantService.GetSeasonTeamsWithResults(Season.Id);

        int indexer = 0;

        DriverResultsModel = SeasonDrivers
            .OrderByDescending(e => e.Points)
                .ThenByDescending(e => e.HiddenPoints)
            .Select(e => ToDriverResultModel(e, ++indexer))
            .ToList();

        indexer = 0;

        TeamResultsModel = SeasonTeams
            .OrderByDescending(e => e.Points)
                .ThenByDescending(e => e.HiddenPoints)
            .Select(e => ToTeamResultModel(e, ++indexer))
            .ToList();

        if (Season != null && Season.PointAllotments?.Any() == true)
            lowestScoringPosition = Season.PointAllotments.Max(e => e.Position);

        loading = false;
    }

    async Task ShowWdcResultGraph()
    {
        var parameters = new DialogParameters { ["Drivers"] = DriverResultsModel, ["Season"] = Season };
        _ = await _dialog.ShowAsync<WdcResultChart>("WDC results chart", parameters);
    }

    async Task ShowWccResultGraph()
    {
        var parameters = new DialogParameters { ["Teams"] = TeamResultsModel, ["Season"] = Season };
        _ = await _dialog.ShowAsync<WccResultChart>("WCC results chart", parameters);
    }

    private StandingDriverModel ToDriverResultModel(SeasonDriver driver, int position)
    {
        var driverTeam = SeasonTeams.Find(e => e.Id == driver.SeasonTeamId);
        return new StandingDriverModel
            {
                Id = driver.Id,
                Position = position,
                Name = driver.Driver.FullName,
                Number = driver.Number,
                Nationality = driver.Driver.Country,
                Colour = driverTeam?.Colour ?? "var(--mud-palette-primary)",
                Accent = driverTeam?.Accent ?? "var(--mud-palette-primary-text)",
                Points = driver.Points,
                HiddenPoints = driver.HiddenPoints,
                SeasonTeamId = driver.SeasonTeamId,
                Team = driverTeam?.Name ?? "None",

                ResultCells = driver.Results.Select(ToResultCell).ToList(),
            };
    }

    private StandingTeamModel ToTeamResultModel(SeasonTeam team, int position)
    {
        return new StandingTeamModel
            {
                Id = team.Id,
                Position = position,
                Name = team.Name,
                Principal = team.Principal,
                Nationality = team.Team.Country,
                Colour = team.Colour,
                Accent = team.Accent,
                Points = team.Points,
                HiddenPoints = team.HiddenPoints,

                ResultCells = team.Results?.Select(ToResultCell).ToList() ?? new(),
            };
    }

    private StandingResultCell ToResultCell(Result result)
    {
        return new StandingResultCell
            {
                Position = result.Position,
                Status = result.Status,
                Round = Races.Single(e => e.Id == result.RaceId).Round,
                Pole = result.Grid == 1,
            };
    }
}
