<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <div>Ok... you're not authorized, mate.</div>
                </NotAuthorized>
                <Authorizing>
                    <div>No worries, lad. Authorizing you right now!</div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Nothing has been found here, only an empty void.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
