@page "/entrantwizard/{SeasonId:long}"

@using MudBlazor.Extensions
@using MudExtensions
@using MudExtensions.Utilities
@using SimTECH.Pages.Seasons.Overview.EntrantWizard.Steps

@inject ContractService _contractService
@inject ManufacturerService _manufacturerService
@inject LeagueService _leagueService
@inject SeasonService _seasonService
@inject SeasonDriverService _seasonDriverService
@inject SeasonEngineService _seasonEngineService
@inject SeasonTeamService _seasonTeamService
@inject BreadcrumbProvider _bread
@inject NavigationManager _nav

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-4">
    <MudPaper Elevation="5">
        <CascadingValue Value="@Model">
            <MudStepperExtended @ref="stepper"
                        Loading="@loading"
                        Color="Color.Tertiary"
                        Variant="Variant.Outlined"
                        Linear="true"
                        DisableSkipButton="true"
                        HeaderTextView="HeaderTextView.All"
                        HeaderBadgeView="HeaderBadgeView.GreyOutIncomplete"
                        PreventStepChangeAsync="InvalidStepPrevention"
                        ActiveStepChanged="HandleStepChange">
                <StaticContent>
                    <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                        <div style="width: 150px">
                            <MudStack Class="pa-0 mx-2">
                                @foreach (var error in errors)
                                {
                                    <MudText Typo="Typo.body2" Color="Color.Error">@error</MudText>
                                }
                            </MudStack>
                        </div>

                        <MudText Typo="Typo.h3">@stepTitle</MudText>

                        <div style="width: 150px">
                            @if (stepper?.IsAllStepsCompleted() == true)
                            {
                                <MudButton Variant="Variant.Outlined"
                                           Color="Color.Success"
                                           FullWidth="true"
                                           OnClick="AddAllEntrants">Confirm & save</MudButton>
                            }
                        </div>
                    </MudStack>
                </StaticContent>
                <ChildContent>
                    <MudStepExtended Title="Add engines" Icon="@IconCollection.Engine">
                        <ChildContent>
                            <AddEngines />
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Title="Edit engines" Icon="@IconCollection.Engine">
                        <ChildContent>
                            <!-- Yes, these if-conditions are here to prevent the step from rendering in advance -->
                            @if (stepper.GetActiveIndex() == 1)
                            {
                                <EditEngines />
                            }
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Title="Add teams" Icon="@IconCollection.Car">
                        <ChildContent>
                            @if (stepper.GetActiveIndex() == 2)
                            {
                                <AddTeams Contracts="@Contracts" />
                            }
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Title="Edit teams" Icon="@IconCollection.Car">
                        <ChildContent>
                            @if (stepper.GetActiveIndex() == 3)
                            {
                                <EditTeams Manufacturers="@Manufacturers" />
                            }
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Title="Assign engines" Icon="@IconCollection.Car">
                        <ChildContent>
                            @if (stepper.GetActiveIndex() == 4)
                            {
                                <AssignTeamEngines />
                            }
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Title="Assign classes" Icon="@IconCollection.Skull">
                        <ChildContent>
                            @if (stepper.GetActiveIndex() == 5)
                            {
                                <AssignRaceClasses />
                            }
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Title="Add drivers" Icon="@IconCollection.Helmet">
                        <ChildContent>
                            @if (stepper.GetActiveIndex() == 6)
                            {
                                <AddDrivers Year="@Season.Year" Contracts="@Contracts" />
                            }
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Title="Edit drivers" Icon="@IconCollection.Helmet">
                        <ChildContent>
                            @if (stepper.GetActiveIndex() == 7)
                            {
                                <EditDrivers />
                            }
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Title="Assign drivers" Icon="@IconCollection.Helmet">
                        <ChildContent>
                            @if (stepper.GetActiveIndex() == 8)
                            {
                                <AssignDriverTeams />
                            }
                        </ChildContent>
                    </MudStepExtended>
                    <MudStepExtended Title="Result" IsResultStep="true" Icon="@Icons.Material.Filled.Flag">
                        <ChildContent>
                            @if (stepper.GetActiveIndex() == 9)
                            {
                                <FinalCheck SeasonId="@SeasonId" />
                            }
                        </ChildContent>
                    </MudStepExtended>
                </ChildContent>
            </MudStepperExtended>
        </CascadingValue>
    </MudPaper>
</MudContainer>
