@page "/"
@inject RaceService RaceService
@inject ProtectedLocalStorage LocalStorage
@inject NavigationManager Nav
@inject IOptions<SimConfig> _config

<PageTitle>Home</PageTitle>

<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <MudText Typo="Typo.overline">_config:</MudText>
                <MudText Typo="Typo.body2">Dsq chance: @_config.Value.DisqualifyChance</MudText>
                <MudText Typo="Typo.body2">Gap marge p/s: @_config.Value.GapMarge</MudText>
                <MudText Typo="Typo.body2">Team status car mod: @_config.Value.CarDriverStatusModifier</MudText>
                <MudText Typo="Typo.body2">Mistake rolls: @_config.Value.MistakeAmountRolls</MudText>
                <MudText Typo="Typo.body2">Mistake min rng: @_config.Value.MistakeLowerValue</MudText>
                <MudText Typo="Typo.body2">Mistake max rng: @_config.Value.MistakeUpperValue</MudText>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <MudText Typo="Typo.h2">SimTECH</MudText>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                <MudText Typo="Typo.overline">_config:</MudText>
                <MudText Typo="Typo.body2">Sunny engine multiplier: @_config.Value.SunnyEngineMultiplier</MudText>
                <MudText Typo="Typo.body2">Overcast engine multiplier: @_config.Value.OvercastEngineMultiplier</MudText>
                <MudText Typo="Typo.body2">Wet engine multiplier: @_config.Value.WetEngineMultiplier</MudText>
                <MudText Typo="Typo.body2">Rain RNG: @_config.Value.RainAdditionalRNG</MudText>
                <MudText Typo="Typo.body2">Storm RNG: @_config.Value.StormAdditionalRNG</MudText>
                <MudText Typo="Typo.body2">Rain reliability: @_config.Value.RainDriverReliabilityModifier</MudText>
                <MudText Typo="Typo.body2">Storm reliability: @_config.Value.StormDriverReliabilityModifier</MudText>
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudGrid>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                        <MudText Typo="Typo.h6">Examples</MudText>
                        
                        <div>
                            <!-- Local storage value -->
                            <MudButton Variant="Variant.Text" Color="Color.Primary" OnClick="SetExample">Set store</MudButton>
                            <MudText>@_exampleStore</MudText>
                        </div>
                    </MudPaper>
                </MudItem>

                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;"></MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>

        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                @if (recentRaces != null)
                {
                    <MudTable id="recent-race-table" Items="@recentRaces" Dense="true">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Last races</MudText>
                            <MudSpacer />
                            <ScreenshotButton TargetId="recent-race-table" />
                        </ToolBarContent>
                        <HeaderContent>
                            <MudTh>League</MudTh>
                            <MudTh>Round</MudTh>
                            <MudTh>Name</MudTh>
                            <MudTh>Winning driver</MudTh>
                            <MudTh>Winning team</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>@context.LeagueName</MudTd>
                            <MudTd>
                                <MudText Typo="Typo.body2">
                                    <CountryFlag Code="@context.Country" Size="FlagSize.Tiny" />
                                    Round: @context.Round
                                </MudText>
                            </MudTd>
                            <MudTd>@context.Name</MudTd>
                            <MudTd>
                                <MudText Typo="Typo.body2">
                                    <CountryFlag Code="@context.WinningDriver.Country" Size="FlagSize.Tiny" />
                                    @context.WinningDriver.Name
                                    <MudChip Variant="Variant.Text" Size="Size.Small" Color="NextColour()" DisableRipple="true">
                                        @context.WinningDriver.Number
                                    </MudChip>
                                </MudText>
                            </MudTd>
                            <MudTd Style="@ViewHelper.SetBorderLeftStyle(context.WinningTeam.Colour)">
                                <MudText Typo="Typo.body2">
                                    <CountryFlag Code="@context.WinningTeam.Country" Size="FlagSize.Tiny" />
                                    @context.WinningTeam.Name
                                </MudText>
                            </MudTd>
                        </RowTemplate>
                    </MudTable>
                }
            </MudPaper>
        </MudItem>

        <MudItem xs="12">
            <MudPaper>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    List<FinishedRaceModel> recentRaces;
    Color[] cycleColours = (Color[])Enum.GetValues(typeof(Color));
    string? _exampleStore = "nothing stored yo";
    string _newExampleString = "this is a new example string for storage";
    int _raceAmount = 5;
    int _cycler = 0;

    protected override async Task OnInitializedAsync()
    {
        recentRaces = await RaceService.GetRecentlyFinishedCalendarRaces(_raceAmount);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var storedExample = await LocalStorage.GetAsync<string>("example");
        _exampleStore = storedExample.Success ? storedExample.Value : "yikes, really nothing stored yo";
    }

    Color NextColour()
    {
        _cycler++;
        _cycler %= cycleColours.Length;

        return cycleColours[_cycler];
    }

    private async Task SetExample()
    {
        await LocalStorage.SetAsync("example", _newExampleString);
    }

    private void NavigateHome()
    {
        Nav.NavigateTo("/drivers");
    }
}
