@page "/developer/{SeasonId:long}"

@using SimTECH.Pages.Seasons.Overview.Development.Components

@inject LeagueService _leagueService
@inject IRaceService _raceService
@inject SeasonDriverService _seasonDriverService
@inject SeasonEngineService _seasonEngineService
@inject SeasonTeamService _seasonTeamService
@inject SeasonService _seasonService
@inject BreadcrumbProvider _bread
@inject IDialogService _dialogService
@inject ISnackbar _snack

<PageTitle>Development</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large">
    <CascadingValue Value="@DevelopModel">
        <MudGrid Spacing="1">
            <MudItem xs="12">
                <MudPaper Elevation="15" MinHeight="60px" Class="pa-2 text-center">
                    <MudText Typo="Typo.h3">Entrant development</MudText>
                </MudPaper>
            </MudItem>
            @if (!Loading)
            {
                <MudItem xs="3">
                    <MudPaper Class="pa-2">
                        <MudText Typo="Typo.h5">Settings</MudText>
                        <MudDivider />

                        <MudStack>
                            <DevelopSettings RaceClasses="@RaceClasses" OnChipChanged="ChipChanged" />

                            @if (DevelopModel.ActiveQuantifier == Quantifier.Range)
                            {
                                <div>
                                    <MudDivider />
                                </div>

                                <MudStack Spacing="1">
                                    <MudText Typo="Typo.subtitle1">Development range</MudText>
                                    <MudNumericField T="int" Label="MIN" ValueChanged="ApplyMinRange" />
                                    <MudNumericField T="int" Label="MAX" ValueChanged="ApplyMaxRange" />
                                </MudStack>
                            }
                        </MudStack>

                        <MudDivider />

                        <MudText Class="mt-4 mb-2">
                            For @(DevelopModel.ActiveEntrant.ToString().ToLower()) and @(DevelopModel.ActiveAspect.GetReadableAspect().ToLower()) show the:
                        </MudText>
                        <MudButtonGroup VerticalAlign="true"
                                        Variant="Variant.Outlined"
                                        Color="Color.Secondary"
                                        Class="mud-width-full">
                            <MudButton FullWidth="true"
                                       OnClick="ShowWeightedDevelopmentRanges">
                                <span>Weighted ranges</span>
                            </MudButton>
                            <MudButton FullWidth="true"
                                       OnClick="ShowDevelopmentSummary">
                                <span>Development summary</span>
                            </MudButton>
                            <MudButton FullWidth="true"
                                       OnClick="ShowDevelopmentProgressionChart">
                                <span>Developed chart</span>
                            </MudButton>
                        </MudButtonGroup>
                    </MudPaper>
                </MudItem>
                <MudItem xs="9">
                    <MudPaper>
                        <DevelopEntrant DevelopedEntrants="@DevelopedEntrants">
                            <MudText Typo="Typo.h5">Development</MudText>
                            <MudDivider Vertical="true" Class="mx-2" />
                            <MudText Typo="Typo.h5">@DevelopModel.ActiveAspect.GetReadableAspect()</MudText>
                            <MudSpacer />
                            <MudButtonGroup Color="Color.Tertiary" Variant="Variant.Text">
                                @if (HasDeveloped)
                                {
                                    <MudButton StartIcon="@Icons.Material.Filled.Save"
                                               IconSize="Size.Small"
                                               OnClick="SaveDevelopment"
                                               Class="btn-md">Save</MudButton>
                                }
                                <MudButton StartIcon="@Icons.Material.Filled.Recycling"
                                           IconSize="Size.Small"
                                           OnClick="RunDevelop"
                                           Class="btn-md">Run</MudButton>
                                <ScreenshotButton TargetId="development-results"
                                                  IconSize="Size.Small"
                                                  Class="btn-md" />
                            </MudButtonGroup>
                        </DevelopEntrant>
                    </MudPaper>
                </MudItem>
            }
        </MudGrid>
    </CascadingValue>
</MudContainer>
