@page "/traitassign"

@using SimTECH.PageModels.Traits
@using SimTECH.Pages.Traits.Assignment.Dialogs

@inject DriverService _driverService
@inject LeagueService _leagueService
@inject TeamService _teamService
@inject TrackService _trackService
@inject TraitService _traitService
@inject BreadcrumbProvider _breadcrumb
@inject IDialogService _dialogService

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-4">
    <MudGrid>
        <MudItem xs="12">
            <MudPaper Elevation="15" MaxHeight="150px" Class="d-flex flex-column justify-center align-center pa-4">
                <MudText Typo="Typo.h3">Random trait assignment</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="6">
            <div class="setting-column-wrapper">
                <MudPaper Class="pa-2">
                    <MudText Typo="Typo.h5">Assignment settings</MudText>
                    <MudDivider Class="my-1" />
                    <MudStack Class="trait-assignment-menu-bar">
                        <div class="setting-double-field-wrapper">
                            <div>
                                <MudText Typo="Typo.subtitle2">For entrants</MudText>
                                <MudChipSet T="Entrant" SelectedValueChanged="RetrieveEntrants" SelectionMode="SelectionMode.SingleSelection">
                                    <MudChip Color="Color.Primary" Value="Entrant.Driver">Driver</MudChip>
                                    <MudChip Color="Color.Primary" Value="Entrant.Team">Team</MudChip>
                                    <MudChip Color="Color.Primary" Value="Entrant.Track">Track</MudChip>
                                </MudChipSet>
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle2">Odds (%) for gaining/losing a trait</MudText>
                                <MudNumericField @bind-Value="@AdditionOdds"
                                                 Min="0"
                                                 Max="100"
                                                 Label="Odds of gaining"
                                                 Variant="Variant.Filled"
                                                 Class="field-sm" />
                            </div>
                        </div>
                        <div class="setting-double-field-wrapper">
                            <div>
                                @if (ActiveEntrant is Entrant.Driver or Entrant.Team)
                                {
                                    <MudSelect T="long"
                                               Value="@LeagueFilter"
                                               ValueChanged="FilterEntrantsByLeague"
                                               ToStringFunc="@LeagueNameOrAll"
                                               Variant="Variant.Filled"
                                               Placeholder="All leagues"
                                               Label="Filter by active league"
                                               Class="field-sm">
                                        @foreach (var league in Leagues)
                                        {
                                            <MudSelectItem Value="@league.Id">
                                                <MudText>@league.Name</MudText>
                                            </MudSelectItem>
                                        }
                                    </MudSelect>
                                }
                            </div>
                            <div>
                                <MudNumericField @bind-Value="@RemovalOdds"
                                                 Min="0"
                                                 Max="100"
                                                 Label="Odds of losing"
                                                 Variant="Variant.Filled"
                                                 AdornmentColor="Color.Secondary"
                                                 Class="field-sm" />
                            </div>
                        </div>
                        <MudButtonGroup Variant="Variant.Outlined" Color="Color.Primary">
                            <MudButton Disabled="true">
                                Reset
                            </MudButton>
                            <MudButton Disabled="@(!CanAssignTraits)"
                                       OnClick="StartAssigningTraits">
                                Assign
                            </MudButton>
                        </MudButtonGroup>
                    </MudStack>
                </MudPaper>
                <MudPaper Class="pa-2">
                    <MudText Typo="Typo.h5">Available traits</MudText>
                    <MudDivider Class="my-1" />
                    <MudText Typo="Typo.body2" Color="Color.Info">
                        Select which traits are allowed to be assigned
                    </MudText>
                    @if (AssignableTraits.Any())
                    {
                        <MudTable T="AssignableTrait"
                                  Items="@AssignableTraits"
                                  @bind-SelectedItems="@selectedTraits"
                                  RowsPerPage="15"
                                  MultiSelection="true"
                                  Dense="true"
                                  FixedHeader="true">
                            <HeaderContent>
                                <MudTh>
                                    <MudTableSortLabel T="EntrantAssignee"
                                                       SortBy="@(e => e.Name)"
                                                       InitialDirection="SortDirection.Ascending">
                                        Name
                                    </MudTableSortLabel>
                                </MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd>
                                    <MudText>@context.Name</MudText>
                                </MudTd>
                            </RowTemplate>
                            <PagerContent>
                                <MudTablePager />
                            </PagerContent>
                        </MudTable>
                    }
                </MudPaper>
            </div>
        </MudItem>
        <MudItem xs="6">
            <MudPaper Class="pa-2">
                <MudText Typo="Typo.h5">Available entrants</MudText>
                <MudDivider Class="my-1" />
                <div class="flex-block-row justify-space-between">
                    <MudText Typo="Typo.body2" Color="Color.Info">
                        Select the entries to assign traits for
                    </MudText>
                    @if (selectedEntrants != null && selectedEntrants.Count != 0)
                    {
                        <MudText Typo="Typo.body2" Color="Color.Tertiary">
                            Amount selected: @(selectedEntrants.Count)
                        </MudText>
                    }
                </div>
                
                @if (Entrants.Any())
                {
                    <MudTable T="EntrantAssignee"
                              Items="@Entrants"
                              @bind-SelectedItems="@selectedEntrants"
                              RowsPerPage="15"
                              MultiSelection="true"
                              Dense="true"
                              FixedHeader="true">
                        <HeaderContent>
                            <MudTh>
                                <MudTableSortLabel T="EntrantAssignee"
                                                   SortBy="@(e => e.Name)"
                                                   InitialDirection="SortDirection.Ascending">
                                    Name
                                </MudTableSortLabel>
                            </MudTh>
                            <MudTh>Current traits</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>
                                <MudText>@context.Name</MudText>
                            </MudTd>
                            <MudTd>
                                @foreach (var trait in context.InitialTraits)
                                {
                                    <MudText Typo="Typo.body2">@trait.Name</MudText>
                                }
                            </MudTd>
                        </RowTemplate>
                        <PagerContent>
                            <MudTablePager />
                        </PagerContent>
                    </MudTable>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private List<Trait> ActiveTraits { get; set; }
    private List<AssignableTrait> AssignableTraits { get; set; } = [];
    private List<EntrantAssignee> Entrants { get; set; } = [];
    private List<League> Leagues { get; set; } = [];

    private Dictionary<long, string> traitBook;

    private HashSet<AssignableTrait>? selectedTraits;
    private HashSet<EntrantAssignee>? selectedEntrants;

    private Entrant ActiveEntrant { get; set; } = Entrant.None;

    private long LeagueFilter { get; set; }
    private int AdditionOdds { get; set; } = 100;
    private int RemovalOdds { get; set; } = 0;

    private bool CanAssignTraits => selectedEntrants?.Any() == true && (selectedTraits?.Any() == true);

    private Func<long, string> LeagueNameOrAll => (leagueId) =>
    {
        if (leagueId == 0)
            return "Any league";

        return Leagues.Find(e => e.Id == leagueId)?.Name ?? "Unknown";
    };

    protected override async Task OnInitializedAsync()
    {
        _breadcrumb.SetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Home", href: ""),
            new BreadcrumbItem("Traits", href: "traits"),
            new BreadcrumbItem("Assign traits", href: "traitassign", disabled: true),
        });

        ActiveTraits = await _traitService.GetTraits(StateFilter.Active);
        Leagues = await _leagueService.GetLeagues();

        traitBook = ActiveTraits.ToDictionary(e => e.Id, e => e.Name);
    }

    private async Task RetrieveEntrants(Entrant selectedEntrant)
    {
        ActiveEntrant = selectedEntrant;

        await ReloadEntrants();
    }

    private async Task FilterEntrantsByLeague(long leagueId)
    {
        LeagueFilter = leagueId;

        await ReloadEntrants();
    }

    private async Task ReloadEntrants()
    {
        switch (ActiveEntrant)
        {
            case Entrant.Driver:
                {
                    var drivers = LeagueFilter == default
                        ? await _driverService.GetDrivers()
                        : await _driverService.GetDriversFromLeague(LeagueFilter);

                    Entrants = drivers.Select(e => new EntrantAssignee(e)).ToList();
                }
                break;
            case Entrant.Team:
                {
                    var teams = LeagueFilter == default
                        ? await _teamService.GetTeams()
                        : await _teamService.GetTeamsFromLeague(LeagueFilter);

                    Entrants = teams.Select(e => new EntrantAssignee(e)).ToList();
                }
                break;
            case Entrant.Track:
                {
                    var tracks = await _trackService.GetTracks();

                    Entrants = tracks.Select(e => new EntrantAssignee(e)).ToList();
                }
                break;
            default:
                throw new InvalidOperationException("wtf unexpected entrant added to develop?");
        }

        foreach (var entrant in Entrants)
        {
            if (entrant.InitialTraitIds.Count == 0)
                continue;

            entrant.InitialTraits = ActiveTraits
                .Where(e => entrant.InitialTraitIds.Contains(e.Id))
                .Select(e => new AssignableTrait(e))
                .ToList();
        }

        AssignableTraits = ActiveTraits
            .Where(e => e.Type == ActiveEntrant)
            .Select(e => new AssignableTrait(e))
            .ToList();
    }

    private async Task StartAssigningTraits()
    {
        var assignableTraits = selectedTraits?.ToList() ?? new();
        var assignableEntrants = selectedEntrants?.ToList() ?? new();

        if (assignableEntrants.Count == 0 || assignableTraits.Count == 0)
            return;

        foreach (var entry in assignableEntrants)
        {
            var availableTraits = assignableTraits
                .Where(at => !entry.InitialTraits.Select(it => it.Id).Contains(at.Id))
                .ToList();

            if (availableTraits.Count > 0 && NumberHelper.RandomInt(100) < AdditionOdds)
            {
                var randomTrait = availableTraits.TakeRandomItem();
                entry.AssignedTraits.Add(randomTrait);
            }

            if (entry.InitialTraits.Count > 0 && NumberHelper.RandomInt(100) < RemovalOdds)
            {
                var randomRemoval = entry.InitialTraits.TakeRandomItem();
                entry.RemovedTraits.Add(randomRemoval);
            }
        }

        var assignedEntrants = assignableEntrants.Where(e => e.AssignedTraits.Count != 0 || e.RemovedTraits.Count != 0).ToList();

        var parameters = new DialogParameters
            {
                ["Entrants"] = assignedEntrants,
            };

        var dialog = await _dialogService.ShowAsync<AssignmentResult>("Assignment result", parameters);

        var result = await dialog.Result;

        if (result?.Canceled ?? true)
            await ReloadEntrants();
        else
            await PersistAssignedTraits(assignedEntrants);
    }

    private async Task PersistAssignedTraits(List<EntrantAssignee> assignedEntrants)
    {
        if (ActiveEntrant == Entrant.None || assignedEntrants.Count == 0)
            return;

        switch (ActiveEntrant)
        {
            case Entrant.Driver:
                await _traitService.AssignDriverTraits(assignedEntrants);
                break;
            case Entrant.Team:
                await _traitService.AssignTeamTraits(assignedEntrants);
                break;
            case Entrant.Track:
                await _traitService.AssignTrackTraits(assignedEntrants);
                break;
            default:
                throw new InvalidOperationException("wtf unexpected entrant added to develop?");
        }

        await ReloadEntrants();
    }
}
