@page "/raceweek/{RaceId:long}"

@using MudExtensions
@using SimTECH.Pages.RaceWeek.Components
@using SimTECH.Pages.RaceWeek.Tabs

@inject ClimateService _climateService
@inject IIncidentService _incidentService
@inject LeagueService _leagueService
@inject ManufacturerService _manufacturerService
@inject IRaceService _raceService
@inject IRaceWeekService _raceWeekService
@inject SeasonService _seasonService
@inject SeasonDriverService _seasonDriverService
@inject SeasonEngineService _seasonEngineService
@inject SeasonTeamService _seasonTeamService
@inject TraitService _traitService
@inject TyreService _tyreService
@inject BreadcrumbProvider _bread
@inject IDialogService _dialogService
@inject ISnackbar _snackbar

<PageTitle>Raweceek</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-4">
    <MudPaper Elevation="100">
        <MudLoading Loading="@Loading"
                    LoaderType="LoaderType.Circular"
                    Text="Have some patience, mate.">
            <CascadingValue Value="@Model">
                <MudTabs Centered="true" Outlined="true">
                    <MudTabPanel Text="Raceweek">
                        <Landing TrackTraits="@TrackTraits"
                                 TyreSuppliers="@TyreSuppliers"
                                 OnOpenTyrePicker="PickRaceTyre" />
                    </MudTabPanel>
                    <MudTabPanel Text="Practice" OnClick="OnOpenPractice">
                        @if (PracticeLoaded)
                        {
                            @if (PracticeSessions?.Any() == true)
                            {
                                <MudTabs Centered="true" Outlined="true">
                                    @foreach (var session in PracticeSessions.OrderBy(e => e.SessionIndex))
                                    {
                                        <MudTabPanel Text="@($"FP{session.SessionIndex}")"
                                                     ID="@($"fp_{session.SessionIndex}")">
                                            <Practice PracticeSession="@session"
                                                      OnFinish="PersistPractice" />
                                        </MudTabPanel>
                                    }
                                </MudTabs>
                            }
                            else
                            {
                                <div class="empty-page-container">
                                    <MudText>No practice data found</MudText>
                                </div>
                            }
                        }
                    </MudTabPanel>
                    <MudTabPanel Text="Qualifying" OnClick="OnOpenQualifying">
                        @if (QualifyingLoaded)
                        {
                            <MudTabs Centered="true" Outlined="true">
                                @foreach (var session in QualySessions)
                                {
                                    <MudTabPanel Text="@($"Q{session.SessionIndex}")"
                                                 Icon="@Icons.Material.Filled.AccessTime"
                                                 Disabled="@session.IsDisabled">
                                        <Qualifying QualySession="@session"
                                                    OnFinish="PersistQualifying" />
                                    </MudTabPanel>
                                }
                            </MudTabs>
                        }
                    </MudTabPanel>
                    <MudTabPanel Text="Race" Disabled="@IsRaceDisabled">
                        <Race RaceId="@RaceId"
                              OnFinish="HandleRaceFinished" />
                    </MudTabPanel>
                    <MudTabPanel Text="Post race" Disabled="@IsPostRaceDisabled">
                        <PostRace />
                    </MudTabPanel>
                </MudTabs>
            </CascadingValue>
        </MudLoading>
    </MudPaper>
</MudContainer>
