<MudDialog>
    <TitleContent>
        <MudText>Create a new season with the following settings</MudText>
    </TitleContent>
    <DialogContent>
        <MudForm Model="@model">
            <MudGrid Spacing="2">
                <MudItem xs="8">
                    <MudPaper Elevation="5" Class="pa-4">
                        <MudStack Spacing="6">
                            <div>
                                <MudText Typo="Typo.subtitle1">Season information</MudText>
                                <MudDivider />
                                <MudNumericField T="int" @bind-Value="model.Year" Label="Year" Class="field-sm" />
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle1">Qualifying (and practice) settings</MudText>
                                <MudDivider />
                                <MudNumericField T="int" @bind-Value="model.RunAmountSession" Label="Amount of runs per session" Class="field-md" />
                                <MudNumericField T="int" @bind-Value="model.QualifyingRNG" Label="Maximum RNG for qualifying" Class="field-md" />
                                <MudStack Row="true" Spacing="4">
                                    <MudNumericField T="int" @bind-Value="model.QualifyingAmountQ2" Label="Amount of drivers in Q2" Class="field-md" />
                                    <MudNumericField T="int" @bind-Value="model.QualifyingAmountQ3" Label="Amount of drivers in Q3" Class="field-md" />
                                </MudStack>
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle1">Race settings</MudText>
                                <MudDivider />
                                <MudStack Row="true" Spacing="4">
                                    <MudNumericField T="int" @bind-Value="model.Rng" Label="Pit Min. RNG" Class="field-md" />
                                    <MudNumericField T="int" @bind-Value="model.PitMaximum" Label="Pit Max. RNG" Class="field-md" />
                                </MudStack>
                                <MudStack Row="true" Spacing="4">
                                    <MudNumericField T="int" @bind-Value="model.PitMinimum" Label="Pit Min. RNG" Class="field-md" />
                                    <MudNumericField T="int" @bind-Value="model.PitMaximum" Label="Pit Max. RNG" Class="field-md" />
                                </MudStack>
                                <MudNumericField T="int" @bind-Value="model.MaximumDriversInRace" Label="Maximum allowed drivers in race" Class="field-md" />
                                <MudNumericField T="int" @bind-Value="model.GridBonus" Label="Bonus per grid position" Class="field-md" />
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle1">Additional points</MudText>
                                <MudDivider />
                                <MudNumericField T="int" @bind-Value="model.PointsPole" Label="Awarded points Pole" Class="field-md" />
                                <MudNumericField T="int" @bind-Value="model.PointsFastestLap" Label="Awarded points Fastest Lap" Class="field-md" />
                            </div>
                            <div>
                                <MudText Typo="Typo.subtitle1">TEMP: Select a league for this season</MudText>
                                <MudDivider />
                                <MudSelect T="long" @bind-Value="model.LeagueId" Label="League" ReadOnly="@(model.Id != 0)">
                                    @foreach (var select in Leagues)
                                    {
                                        <MudSelectItem Value="select.Id">@select.Name</MudSelectItem>
                                    }
                                </MudSelect>
                            </div>
                        </MudStack>

                        @if (Copied)
                        {
                            <MudCheckBox @bind-Checked="_copyRaces" Color="Color.Tertiary" Label="Copy all races from this season" />
                            @if (_copyRaces)
                            {
                                <MudAlert Severity="Severity.Warning">Sorry! Feature isn't implemented yet.</MudAlert>
                            }
                        }
                    </MudPaper>
                </MudItem>

                <MudItem xs="4">
                    <MudPaper Elevation="5" Class="pa-4">
                        <MudText Typo="Typo.subtitle1">Achieved points per position</MudText>
                        <MudDivider />

                        <MudTable Items="@model.PointAllotments" Dense="true" ReadOnly="false"
                                  RowEditPreview="BackupAllotment" RowEditCancel="ResetAllotment" ApplyButtonPosition="TableApplyButtonPosition.End"
                                  EditButtonPosition="TableEditButtonPosition.End" EditTrigger="TableEditTrigger.RowClick">
                            <HeaderContent>
                                <MudTh>
                                    <MudTableSortLabel SortBy="new Func<EditPointAllotmentModel, object>(e => e.Position)">Position</MudTableSortLabel>
                                </MudTh>
                                <MudTh>Points</MudTh>
                                <MudTh></MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Position">
                                    <MudNumericField @bind-Value="@context.Position" Required />
                                </MudTd>
                                <MudTd DataLabel="Points">
                                    <MudNumericField @bind-Value="@context.Points" Required />
                                </MudTd>
                                <MudTd>
                                    <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Delete" Color="Color.Error" Class="pa-0" OnClick="@(() => RemoveAllotment(context))" />
                                </MudTd>
                            </RowTemplate>
                            <FooterContent>
                                <MudTFootRow>
                                    <MudTd>
                                        <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Tertiary" OnClick="AppendAllotment"></MudIconButton>
                                    </MudTd>
                                </MudTFootRow>
                            </FooterContent>
                            <EditButtonContent Context="button">
                                <MudIconButton Size="@Size.Small" Icon="@Icons.Material.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
                            </EditButtonContent>
                        </MudTable>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit">Ok</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] protected MudDialogInstance? SeasonDialog { get; set; }

    [Parameter] public Season? Season { get; set; }
    [Parameter] public List<League> Leagues { get; set; }
    [Parameter] public bool Copied { get; set; }

    private EditSeasonModel model = new();
    private EditPointAllotmentModel allotmentBackup;

    private bool _copyRaces { get; set; }
    private int _lowestPosition { get; set; }

    protected override void OnInitialized()
    {
        if (Season != null)
        {
            model = new EditSeasonModel(Season);

            if (model.PointAllotments.Any())
                _lowestPosition = model.PointAllotments.Max(e => e.Position);

            if (Copied)
                model.ResetIdentifierFields();
        }

        // TODO: Following is temp until this is set by default
        if (model.LeagueId == 0)
            model.LeagueId = 1;
    }

    private void BackupAllotment(object allotment) //alternatively use EditPointAllotmentModel if this doesnt work
    {
        allotmentBackup = new()
            {
                Id = ((EditPointAllotmentModel)allotment).Id,
                Position = ((EditPointAllotmentModel)allotment).Position,
                Points = ((EditPointAllotmentModel)allotment).Points
            };
    }

    private void ResetAllotment(object allotment) //alternatively use EditPointAllotmentModel if this doesnt work
    {
        ((EditPointAllotmentModel)allotment).Id = allotmentBackup.Id;
        ((EditPointAllotmentModel)allotment).Position = allotmentBackup.Position;
        ((EditPointAllotmentModel)allotment).Points = allotmentBackup.Points;
    }

    private void AppendAllotment()
    {
        model.PointAllotments.Add(new EditPointAllotmentModel
            {
                Position = ++_lowestPosition,
                Points = 0
            });
    }

    private void RemoveAllotment(EditPointAllotmentModel allotment)
    {
        --_lowestPosition;
        model.PointAllotments.Remove(allotment);
    }

    private void Submit()
    {
        if (_copyRaces)
        {
            // TODO: handle what to do here
        }

        if (model.IsDirty)
        {
            var modSeason = model.Record;
            SeasonDialog?.Close(DialogResult.Ok(modSeason));
        }
    }

    private void Cancel() => SeasonDialog?.Cancel();
}
