@page "/seasons"
@inject NavigationManager Nav
@inject LeagueService LeagueService
@inject SeasonService SeasonService
@inject BreadcrumbProvider _bread
@inject IDialogService DialogService

<PageTitle>Seasons</PageTitle>

<MudContainer>
    @if (SeasonList != null)
    {
        <MudDataGrid T="SeasonListModel" Items="@SeasonList" Bordered="true" Dense="true" Class="my-2">
            <ToolBarContent>
                <MudText Typo="Typo.h4">Seasons</MudText>
                <MudSpacer />
                <MudButton Variant="Variant.Outlined" Color="Color.Tertiary" OnClick="NewSeason">New</MudButton>
            </ToolBarContent>
            <Columns>
                <PropertyColumn Property="e => e.Year" />
                <PropertyColumn Property="e => e.DriverNumber" Title="No." />
                <TemplateColumn Title="Leading driver">
                    <CellTemplate>
                        <CountryFlag Code="context.Item.DriverNationality" Size="FlagSize.Small" />
                        <span>@context.Item.DriverName</span>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn Title="Leading team" CellStyleFunc="@LeadingTeamStyleFunc" >
                    <CellTemplate>
                        <CountryFlag Code="context.Item.TeamNationality" Size="FlagSize.Small" />
                        <span>@context.Item.TeamName</span>
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="e => e.League" />
                <PropertyColumn Property="e => e.State" />
                <TemplateColumn CellClass="d-flex justify end">
                    <CellTemplate>
                        <MudButtonGroup Size="@Size.Small">
                            <MudIconButton Icon="@Icons.Material.Outlined.Logout" OnClick="@(() => GoToOverview(context.Item.Id))" />
                            @if (context.Item.State == State.Concept)
                            {
                                <MudIconButton Color="Color.Error" Icon="@Icons.Material.Outlined.Delete" OnClick="@(async() => await DeleteSeason(context.Item.Id))" />
                            }
                        </MudButtonGroup>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
            <PagerContent>
                <MudDataGridPager T="SeasonListModel" />
            </PagerContent>
        </MudDataGrid>
    }
</MudContainer>

@code {
    List<Season> SeasonData;
    List<League> LeagueData;
    List<SeasonListModel> SeasonList;

    protected override async Task OnInitializedAsync()
    {
        _bread.SetBreadcrumbs(new List<BreadcrumbItem>()
        {
            new BreadcrumbItem("Home", href: ""),
            new BreadcrumbItem("Seasons", href: "seasons", disabled: true),
        });

        SeasonData = await SeasonService.GetSeasons();
        LeagueData = await LeagueService.GetLeagues();

        SeasonList = await SeasonService.GetSeasonList();
    }

    private async Task NewSeason()
    {
        EditSeasonModel? model = null;

        var previousSeason = SeasonData.OrderByDescending(e => e.Year).FirstOrDefault();

        if (previousSeason != null)
        {
            model = new EditSeasonModel(previousSeason);
            model.ResetIdentifierFields();
            model.Year++;
        }

        var parameters = new DialogParameters { ["Model"] = (model ?? new()), ["Leagues"] = LeagueData };

        var dialog = await DialogService.ShowAsync<SeasonEditor>("Modify season", parameters);
        var result = await dialog.Result;

        if (!result.Canceled && result.Data != null && result.Data is Season updatedItem)
        {
            await SeasonService.UpdateSeason(updatedItem);
            Nav.NavigateTo($"/overview/{updatedItem.Id}");
        }
    }

    private async Task DeleteSeason(long seasonId)
    {
        var result = await SeasonService.DeleteSeason(seasonId);
        if (result)
        {
            SeasonData.Remove(SeasonData.Single(e => e.Id == seasonId));
        }
    }

    private void GoToOverview(long seasonId)
    {
        Nav.NavigateTo($"/overview/{seasonId}");
    }

    private static Func<SeasonListModel, string> LeadingTeamStyleFunc => model 
        => ViewHelper.SetBorderLeftStyle(model.TeamColour);
}
